{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/cart.css' %}" type="text/css">
{% endblock %}

{% block content %}
<!--  GRID CONTAINER  -->

<div class="container-cart blue">

    <!--  CART HEADER  -->

    <div class="cart-header"></div>

    <!--  /CART HEADER  -->

    <!--  CART HEADING  -->

    <div class="cart-heading">
        <p class="uppercase blue">Reserved Items<i class="fas fa-shopping-cart"></i></p>
    </div>

    <!--  /CART HEADING  -->

    <!--  CART ITEMS  -->

    <div class="cart-items">
        <div class="cart-items-header">
                <span class="label-detail items-header-label">Detail</span>
                <span class="label-sku items-header-label">SKU</span>
                <span class="label-descritption items-header-label">Description</span>
                <span class="label-size items-header-label">Size</span>
                <span class="label-price items-header-label">Price</span>
                <span class="label-quantity items-header-label">Qty.</span>
                <span class="label-subtotal items-header-label">Subtotal</span>
        </div>
        <div class="cart-items-list">
            {% if cart_items %}
                <div class="list-items-ordered">
                {% for item in cart_items %}
                    <span><img class="ordered-image cart-img-shadow" src="{{ item.item.image.url }}"></span>
                    <span><p class="ordered-sku">{{ item.item.sku|upper }}</p></span>
                    <span><p class="ordered-name"><strong>{{ item.item.name }}</strong></p></span>
                    <span><p class="ordered-size">{% if item.item.has_sizes %}{{ item.size|upper }}{% else %}N/A{% endif %}</p></span>
                    <span><p class="ordered-price">&euro;{{ item.item.price }}</p></span>
                    <span><p class="ordered-quantity">{{ item.quantity }}</p></span>
                    <span><p class="ordered-total">&euro;{{ item.subtotal }}</p></span>
                {% endfor %}
                </div>
                <div class="list-items-tally">
                    <span class="tally-cart-label tally-label"><strong>Item(s) Total:&nbsp;</strong></span>
                    <span class="tally-cart-total tally-number"><strong>&euro;{{ total|floatformat:2 }}</strong></span>
                    <span class="tally-shipping-label tally-label"><strong>Shipping:&nbsp;</strong></span>
                    <span class="tally-shipping tally-number"><strong>&euro;{{ shipping|floatformat:2 }}</strong></span>
                    <span class="tally-order-label tally-label"><strong>Cart Total:&nbsp;</strong></span>
                    <span class="tally-order-total tally-number"><strong>&euro;{{ cart_total|floatformat:2 }}</strong></span>
                    {% if remaining_til_goal > 0 %}
                        <p class="tally-free-shipping">
                            You could get free delivery by spending just <strong>&euro;{{ remaining_til_goal }}</strong> more!
                        </p>
                    {% endif %}
                </div>
                <div class="cart-actions">
                    <!-- <button class="cart-actions-shopping btn-blue-white uppercase" onclick="location.href='{% url 'collection' %}';">Keep Shopping</button> -->
                    <a class="cart-actions-shopping btn-blue-white no-decoration uppercase" href="{% url 'collection' %}">
                        Keep Shopping
                    </a>
                    <button class="cart-actions-checkout btn-blue-white uppercase">Checkout<i class="fas fa-lock"></i></button>
                </div>
            {% else %}
                <div class="cart-empty">
                    <p class="empty-statement">Your shopping cart is empty!</p>
                    <div class="empty-buttons">
                        <!-- <button class="cart-empty-shopping btn-blue-white uppercase" onclick="location.href='{% url 'collection' %}';">Keep Shopping</button> -->
                        <a class="cart-empty-shopping btn-blue-white no-decoration uppercase" href="{% url 'collection' %}">
                            Keep Shopping
                        </a>
                        <button class="cart-empty-checkout btn-greyed-out uppercase">Checkout<i class="fas fa-lock"></i></button>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>

    <!--  /CART ITEMS  -->

</div>

<!--  /GRID CONTAINER  -->

{% endblock %}
