{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/home.css' %}" type="text/css">
{% endblock %}

{% block content %}

<!--  INDEX GRID CONTAINER  -->

<div class="container-home">

    <!--  HOME HEADER  -->
    
    <header class="home-header">
        <div class="home-header-title">
            <span class="white">Welcome to Chew The Rag Clothing Co.!</span>
        </div>
        <div class="home-header-summary white">
            <p>Come on in! We'll put the kettle on!</p>
        </div>
    </header>

    <!--  /HOME HEADER  -->

    <!--  HOME WELOCOME  -->

    <section class="home-welcome">
        <img class="welcome-image" src="{% static 'media/interestingly-designed-store.jpg' %}" alt="Different colour T-shirts hanging on a rack">
        <div class="welcome-blurb">
            <p class="welcome-title blue">Welcome to Chew The Rag Clothing Co.!</p>
            <p class="welcome-summary blue">
                    Clothes are important to us. At Chew The Rag, we are dedicated to providing quality, affordable 
                    clothes to the masses. You work hard for our money and should be able to express our own individual 
                    style without spending all of your hard-earned income.
            </p>
            <button class="welcome-button btn-blue-white no-decoration uppercase" onclick="">Come Hear Our Story</button>
            <!-- <a href="{% url 'about' %}" class="welcome-button btn-blue-white no-decoration uppercase">Come Hear Our Story</a> -->
        </div>
    </section>

    <!--  /HOME WELCOME  -->

    <!--  HOME COLLECTIONS  -->

    <section class="home-collections">
        <div class="home-collections-title">
            <p class="white">The Collection</p>
        </div>
        <div class="home-collections-blurb">
            <div class="home-collections-summary">
                <p class="white">
                    We know everyone has their own unique style. Chew The Rag Clothing Co. endeavours 
                    to provide a collection that matches your individual style. So, come on in and 
                    peruse the store. I bet ya' you will find something you like.
                </p>
            </div>
            <div class="home-collections-link">
                <a class="no-decoration uppercase white" href="javascript:void(0);">
                    <span class="white">Enter the Store</span>
                    <svg width="37" height="12" viewBox="0 0 37 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0 6H36.0001M36.0001 6L31.0001 1M36.0001 6L31.0001 11" stroke="white"/>
                    </svg>
                </a>
            </div>
        </div>
    </section>

    <!--  /HOME COLLECTIONS  -->

    <!--  HOME TESTIMONIALS  -->

    <section class="home-testimonials">

    </section>

    <!--  /HOME TESTIMONIALS  -->

    <!--  HOME EXTRAS  -->

    <section class="home-extras">

    </section>

    <!--  /HOME EXTRAS  -->

</div>

<!--  /INDEX GRID CONTAINER  -->

{% endblock %}
