{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/home.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'css/carousel.css' %}" type="text/css">
{% endblock %}

{% block content %}

<!--  INDEX GRID CONTAINER  -->

<section class="container-home">

    <!--  HEADER  -->
    
    <div class="container-header">
    
        {% include 'includes/carousel.html' %}

    </div>

    <!--  /HEADER  -->
    
    <main class="main-test" style="height: 93vh; background: white;"></main>

</section>

<!--  /INDEX GRID CONTAINER  -->

{% endblock %}
