{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/home.css' %}" type="text/css">
{% endblock %}

{% block content %}

<!--  INDEX GRID CONTAINER  -->

<section class="container-home">

    <!--  HOME HEADER  -->
    
    <div class="home-header">
        <div class="home-header-title">
            <span class="white">Welcome to Chew The Rag Clothing Co.!</span>
        </div>
        <div class="home-header-summary white">
            <p>Come on in! We'll put the kettle on!</p>
        </div>
    </div>

    <!--  /HOME HEADER  -->

    <!--  HOME WELOCOME  -->

    <div class="home-welcome">

    </div>

    <!--  /HOME WELCOME  -->

    <!--  HOME COLLECTIONS  -->

    <div class="home-collections">

    </div>

    <!--  /HOME COLLECTIONS  -->

    <!--  HOME TESTIMONIALS  -->

    <div class="home-testimonials">

    </div>

    <!--  /HOME TESTIMONIALS  -->

    <!--  HOME EXTRAS  -->

    <div class="home-extras">

    </div>

    <!--  /HOME EXTRAS  -->

</section>

<!--  /INDEX GRID CONTAINER  -->

{% endblock %}
