{% extends "base.html" %}
{% load static %}
{% load cart_tools %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/checkout.css' %}" type="text/css">
{% endblock %}

{% block content %}
<!--  GRID CONTAINER  -->

<div class="container-checkout">

    <!--  CHECKOUT HEADER  -->

    <div class="checkout-header"></div>

    <!--  /CHECKOUT HEADER  -->

    <!--  CHECKOUT HEADING  -->

    <div class="checkout-heading">
        <p class="uppercase">Checkout<i class="fas fa-cash-register"></i></p>
    </div>

    <!--  /CHECKOUT HEADING  -->

    <!--  CHECKOUT SUMMARY  -->

    <div class="checkout-summary">
        <p class="summary-heading"><span>Order Summary<i class="fas fa-scroll"></i></span></p>
        <div class="summary-labels">
            <span class="labels-detail label-wrapper">Detail</span>
            <span class="labels-item label-wrapper">Item</span>
            <span class="labels-subtotal label-wrapper">Subtotal</span>
        </div>
        <div class="summary-order-list">
            {% for item in cart_items %}
                <div class="order-list-wrapper">
                    <div class="summary-image">
                        <a href="{% url 'item_detail' item.item.id %}">
                            {% if item.item.image %}
                                <img class="checkout-image checkout-img-shadow" src="{{ item.item.image.url }}" alt="{{ item.name }}">
                            {% else %}
                                <img class="checkout-image checkout-img-shadow" src="{{ MEDIA_URL }}noimage.png" alt="{{ item.name }}">
                            {% endif %}
                        </a>
                    </div>
                    <div class="summary-identifiers">
                        <p class="identifiers-name"><strong>{{ item.item.name }}</strong></p>
                        <p class="identifiers-size">Size: {% if item.item.has_sizes %}{{ item.size|upper }}{% else %}N/A{% endif %}</p>
                        <p class="identifiers-quantity">Qty: {{ item.quantity }}</p>
                    </div>
                    <div class="summary-subtotal">
                        <p class="">&euro;{{ item.item.price | calc_subtotal:item.quantity }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="summary-order-totals">
            <div class="totals-labels">
                <p class="labels-total totals-label"><strong>Order Total:</strong></p>
                <p class="labels-shipping totals-label"><strong>Shipping:</strong></p>
                <p class="labels-grand-total totals-label"><strong>Grand Total:</strong></p>
            </div>
            <div class="totals-values">
                <p class="values-total totals-value"><strong>&euro;{{ total | floatformat:2 }}</strong></p>
                <p class="values-shipping totals-value"><strong>&euro;{{ shipping | floatformat:2 }}</strong></p>
                <p class="values-grand-total totals-value"><strong>&euro;{{ cart_total | floatformat:2 }}</strong></p>
            </div>
        </div>
    </div>

    <!--  /CHECKOUT SUMMARY  -->

    <!--  CHECKOUT FORM  -->

    <div class="checkout-form">
        <p class="checkout-instructions">Please fill out the required details and enter your credit card to complete your order.</p>
        <form class="checkout-info" action="{% url 'checkout' %}" method="POST" id="checkout-info">
            {% csrf_token %}

            <!-- CHECKOUT DETAILS -->

            <fieldset class="info-details">
                <legend>Details</legend>
                {{ order_form.full_name | as_crispy_field }}
                {{ order_form.email | as_crispy_field }}
            </fieldset>

            <!-- /CHECKOUT DETAILS -->

            <!-- CHECKOUT SHIPPING -->

            <fieldset class="info-shipping">
                <legend class="blue">Shipping</legend>
                {{ order_form.phone_number | as_crispy_field }}
                {{ order_form.street_address1 | as_crispy_field }}
                {{ order_form.street_address2 | as_crispy_field }}
                {{ order_form.town_or_city | as_crispy_field }}
                {{ order_form.county | as_crispy_field }}
                {{ order_form.postcode | as_crispy_field }}
                {{ order_form.country | as_crispy_field }}
                <div class="info-save">
                    {% if user.is_authenticated %}
                        <label class="info-save-label" for="info-save-info">Save information to my profile</label>
                        <input class="info-save-input" type="checkbox" id="info-save-info" name="save-info" checked>
                    {% else %}
                        <label class="info-save-label" for="info-save-info">
                            <a class="info-save-link no-decoration" href="{% url 'account_signup' %}"><strong>Register</strong> an account</a> or
                            <a class="info-save-link no-decoration" href="{% url 'account_login' %}"><strong>login</strong></a> to save this information.
                        </label>
                    {% endif %}
                </div>
            </fieldset>

            <!-- /CHECKOUT SHIPPING -->

            <!-- CHECKOUT PAYMENT -->

            <fieldset class="info-payment">
                <legend>Payment</legend>
                <!-- A Stripe card element will go here -->
                <div class="payment-card-element" id="payment-card-element"></div>

                <!-- Used to display form errors -->
                <div class="payment-card-errors" id="payment-card-errors" role="alert"></div>
            </fieldset>

            <!-- /CHECKOUT PAYMENT -->

            <!-- SUBMIT ORDER -->

            <div class="order-submit">                    
                <a class="submit-update btn-blue-white no-decoration uppercase" href="{% url 'cart' %}">
                    <span>Update Cart</span>
                </a>
                <button class="submit-complete btn-blue-white uppercase" id="submit-complete">
                    Complete Order<i class="fas fa-lock"></i>
                </button>
                <p class="order-submit-disclaimer">
                    <span class="disclaimer-icon">
                        <i class="fas fa-exclamation-circle"></i>
                    </span>
                    <span class="disclaimer-text">Your card will be charged <strong>&euro;{{ cart_total | floatformat:2 }}</strong></span>
                </p>
            </div>

            <!-- /SUBMIT ORDER -->

        </form>
    </div>

    <!--  /CHECKOUT FORM  -->

</div>

<!--  /GRID CONTAINER  -->

{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    {{ stripe_public_key|json_script:"id_stripe_public_key" }}
    {{ client_secret|json_script:"id_client_secret" }}
    <script src="{% static 'js/stripe_elements.js' %}"></script>
{% endblock %}
