{% extends "base.html" %}
{% load static %}
{% load cart_tools %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/checkout.css' %}" type="text/css">
{% endblock %}

{% block content %}
<!--  GRID CONTAINER  -->

<div class="container-checkout blue">

    <!--  CHECKOUT HEADER  -->

    <div class="checkout-header"></div>

    <!--  /CHECKOUT HEADER  -->

    <!--  CHECKOUT HEADING  -->

    <div class="checkout-heading">
        <p class="uppercase blue">Checkout<i class="fas fa-cash-register"></i></p>
    </div>

    <!--  /CHECKOUT HEADING  -->

    <!--  CHECKOUT FORM  -->

    <div class="checkout-form">
        <p class="checkout-instructions">Please fill out the required details and enter your credit card to complete your order.</p>
        <form class="checkout-info" action="{% url 'checkout' %}" method="POST" id="checkout-info">
            {% csrf_token %}

            <!-- CHECKOUT DETAILS -->

            <fieldset class="info-details">
                <legend class="fieldset-label">Details</legend>
                {{ order_form.full_name | as_crispy_field }}
                {{ order_form.email | as_crispy_field }}
            </fieldset>

            <!-- /CHECKOUT DETAILS -->

            <!-- CHECKOUT SHIPPING -->

            <fieldset class="info-shipping">
                <legend class="fieldset-label">Shipping</legend>
                {{ order_form.phone_number | as_crispy_field }}
                {{ order_form.country | as_crispy_field }}
                {{ order_form.postcode | as_crispy_field }}
                {{ order_form.town_or_city | as_crispy_field }}
                {{ order_form.street_address1 | as_crispy_field }}
                {{ order_form.street_address2 | as_crispy_field }}
                {{ order_form.county | as_crispy_field }}
                <div class="info-save">
                    {% if user.is_authenticated %}
                        <label class="info-save-label" for="info-save-info">Save information to my profile</label>
                        <input class="info-save-input ml-2 mr-0" type="checkbox" id="info-save-info" name="save-info" checked>
                    {% else %}
                        <label class="info-save-label" for="info-save-info">
                            <a class="info-save-link" href="{% url 'account_signup' %}">Create an account</a> or 
                            <a class="info-save-link" href="{% url 'account_login' %}">login</a> to save this information
                        </label>
                    {% endif %}
                </div>
            </fieldset>

            <!-- /CHECKOUT SHIPPING -->

            <!-- CHECKOUT PAYMENT -->

            <fieldset class="info-payment">
                <legend class="fieldset-label">Payment</legend>
                <!-- A Stripe card element will go here -->
                <div class="payment-card-element" id="payment-card-element"></div>

                <!-- Used to display form errors -->
                <div class="payment-card-errors" id="payment-card-errors" role="alert"></div>
            </fieldset>

            <!-- /CHECKOUT PAYMENT -->

            <!-- SUBMIT ORDER -->

            <div class="order-submit">                    
                <a class="submit-update btn-blue-white" href="{% url 'cart' %}">
                    <span>Update Cart</span>
                </a>
                <button id="submit-complete" class="submit-complete btn-blue-white">
                    <span class="font-weight-bold">Complete Order<i class="fas fa-lock"></i></span>
                </button>
                <p class="order-submit-disclaimer">
                    <span class="disclaimer-icon">
                        <i class="fas fa-exclamation-circle"></i>
                    </span>
                    <span class="disclaimer-text">Your card will be charged <strong>${{ grand_total|floatformat:2 }}</strong></span>
                </p>
            </div>

            <!-- /SUBMIT ORDER -->

        </form>
    </div>

    <!--  /CHECKOUT FORM  -->

    <!--  CHECKOUT SUMMARY  -->

    <div class="checkout-summary">
        <p class="summary-heading">Order Summary ({{ product_count }})</p>
        <div class="row">
            <div class="col-7 offset-2">
                <p class="mb-1 mt-0 small text-muted">Item</p>
            </div>
            <div class="col-3 text-right">
                <p class="mb-1 mt-0 small text-muted">Subtotal</p>
            </div>
        </div>
        {% for item in bag_items %}
            <div class="summary-image">
                <a href="{% url 'item_detail' item.item.id %}">
                    {% if item.item.image %}
                        <img class="checkout-image checkout-img-shadow" src="{{ item.item.image.url }}" alt="{{ item.name }}">
                    {% else %}
                        <img class="checkout-image checkout-img-shadow" src="{{ MEDIA_URL }}noimage.png" alt="{{ item.name }}">
                    {% endif %}
                </a>
            </div>
            <div class="summary-identifiers">
                <p class="identifiers-name">{{ item.item.name }}</p>
                <p class="identifiers-size">Size: {% if item.item.has_sizes %}{{ item.size|upper }}{% else %}N/A{% endif %}</p>
                <p class="identifiers-quantity">Qty: {{ item.quantity }}</p>
            </div>
            <div class="summary-subtotal">
                <p class="">${{ item.item.price | calc_subtotal:item.quantity }}</p>
            </div>
        {% endfor %}
        <div class="summary-totals">
            <div class="summary-labels">
                <p class="labels-total">Order Total:</p>
                <p class="labels-shipping">Shipping:</p>
                <p class="labels-grand-total">Grand Total:</p>
            </div>
            <div class="summary-values">
                <p class="values-total">${{ total | floatformat:2 }}</p>
                <p class="values-shipping">${{ shipping | floatformat:2 }}</p>
                <p class="values-grand-total">${{ grand_total | floatformat:2 }}</p>
            </div>
        </div>
    </div>

    <!--  /CHECKOUT SUMMARY  -->

</div>

<!--  /GRID CONTAINER  -->

{% endblock %}
