{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/checkout.css' %}" type="text/css">
{% endblock %}

{% block content %}

<!--
    GRID CONTAINER
-->
<div class="container-checkout-success">

    <!--
        SUCCESS HEADER
    -->
    <div class="checkout-success-header">
        <p class="checkout-success-heading uppercase">
            Thank you for your order!
            <i class="fas fa-thumbs-up"></i>
        </p>
        <p class="checkout-success-follow-up">
            Your patronage is always appreciated. A confirmation email will be sent to {{ order.email }}
            with the details of your order. We hope you enjoy your purchased items.
        </p>
        <a class="checkout-success-back btn-white no-decoration uppercase" href="{% url 'collection' %}?category=new_arrivals,deals,clearance">
            <span>
                Why not continue shopping?
            </span>
        </a>
    </div>
    <!--
        /SUCCESS HEADER
    -->

</div>
<!--
    /GRID CONTAINER
-->

{% endblock %}
