{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/community.css' %}" type="text/css">
{% endblock %}

{% block content %}

<!--
    COMMUNITY GRID CONTAINER
-->
<div class="container community">

    <!--
        COMMUNITY HEADER
    -->
    <div class="community-header">
        <p class="community-header-title">
            Coming Soon!
        </p>
        <p class="community-header-text">
            We like to keep our customers up-to-date on all of the goings on and sometimes, we just like to
            shoot the breeze about what's on our mind. Soon we will release a community where you can keep
            aprised of the goings on at Chew the Rag Clothing Co. and it's surrounding community.
        </p>
    </div>
    <!--
        /COMMUNITY HEADER
    -->

</div>
<!--
    /COMMUNITY GRID CONTAINER
-->

{% endblock %}
