/**********************************************************************/
/***                        About Container                         ***/
/**********************************-***********************************/


.container-about {
    font-family: 'Montserrat', sans-serif;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100vh max-content;
    grid-template-areas: 
        "hdr"
        "txt";
}

.about-header {
    grid-area: hdr;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../media/team-in-modern-office-meeting-room.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    background-attachment: fixed;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: repeat(4, 25vh);
    grid-template-areas: 
        ". ."
        "hdr-txt ."
        "hdr-qte ."
        ". .";
}

.about-header-title {
    grid-area: hdr-txt;
    font-size: 4.9rem;
    align-self: flex-end;
    margin: 2rem 7rem;
}

.about-header-title span{
    font-size: 5.7rem;
    font-weight: 600;
}

.about-header-dictionary {
    grid-area: hdr-qte;
    align-self: flex-start;
    margin: 0rem 7rem;
}

.header-dictionary-title {
    font-size: 1.9rem;
}

.header-dictionary-category {
    font-size: 1.9rem;
}

.header-dictionary-description {
    font-size: 1.6rem;
}

.header-dictionary-quote {
    font-size: 1.6rem;
    margin: 2.2rem 0rem;
}

.dictionary-quote-text span {
    font-size: 2.4rem;
}

.about-story {
    grid-area: txt;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: min-content max-content;
    grid-template-areas: 
        "story-img story-qte"
        "story-txt story-txt";
    margin: 6rem 25%;
}

.story-image {
    grid-area: story-img;
    width: 42.5rem;
    height: 28.48rem;
    align-self: center;
    margin: 2rem 0rem;
}

.story-quote {
    grid-area: story-qte;
    font-size: 1.8rem;
    align-self: center;
}

.story-text {
    grid-area: story-txt;
    font-size: 1.6rem;
}
