/**********************************************************************/
/***                        About Container                         ***/
/**********************************-***********************************/


.container-about {
    font-family: 'Montserrat', sans-serif;
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: 100vh max-content;
    grid-template-areas: 
        "abt-hdr"
        "abt-txt";
}


/**********************************************************************/
/***                      Header (about.html)                       ***/
/**********************************-***********************************/


.about-header {
    grid-area: abt-hdr;
    background-image: linear-gradient(rgba(7, 10, 18, 0.7), rgba(7, 10, 18, 0.7)), url('/media/team-in-modern-office-meeting-room.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
    color: var(--almost__white);
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: minmax(7rem, 9rem) max-content;
    grid-template-areas: 
        "abt-hdr-txt"
        "abt-hdr-qte";
    place-content: center start;
}

.about-header-title {
    grid-area: abt-hdr-txt;
    font-size: 2.6rem;
    font-weight: 600;
    place-self: end start;
    padding: 0rem 2.5rem 2rem;
    margin: 0rem;
}

.about-header-dictionary {
    grid-area: abt-hdr-qte;
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: repeat(4, max-content);
    grid-template-areas:
        "hdr-dct-ttl"
        "hdr-dct-cat"
        "hdr-dct-dsc"
        "hdr-dct-qte";
    align-self: start;
    place-content: center start;
    margin: 0rem;
}

.header-dictionary-title {
    grid-area: hdr-dct-ttl;
    font-size: 1.8rem;
    padding: 0rem 2.5rem 1.5rem;
    margin: 0rem;
}

.header-dictionary-category {
    grid-area: hdr-dct-cat;
    font-size: 1.8rem;
    padding: 0rem 2.5rem 1.5rem;
    margin: 0rem;
}

.header-dictionary-description {
    grid-area: hdr-dct-dsc;
    font-size: 1.5rem;
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: max-content;
    grid-template-areas:
        "dct-dsc-num dct-dsc-txt";
    place-content: center start;
    padding: 0rem 2.5rem 2rem;
}

.dictionary-description-number {
    grid-area: dct-dsc-num;
    font-size: 1.5rem;
    place-self: start start;
    margin: 0rem;
}

.dictionary-description-text {
    grid-area: dct-dsc-txt;
    padding: 0rem 0.7rem;
    margin: 0rem;
}

.header-dictionary-quote {
    grid-area: hdr-dct-qte;
    font-size: 1.5rem;
    justify-content: start;
    padding: 0rem 3rem;
    margin: 0rem;
}

.header-dictionary-quote  p {
    text-align: justify;
    margin: 0rem;
}

.header-dictionary-quote sup {
    font-size: 1rem;
}

.header-dictionary-quote sub {
    font-size: 1rem;
}


/**********************************************************************/
/***                       Story (about.html)                       ***/
/**********************************-***********************************/


.about-story {
    grid-area: abt-txt;
    color: var(--std__blue);
    width: 100vw;
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: repeat(3, max-content);
    grid-template-areas: 
        "story-img"
        "story-qte"
        "story-txt";
    margin: 6rem 0rem 4.4rem;
}

.story-image {
    grid-area: story-img;
    width: 33rem;
    box-shadow: 0.3rem 0.3rem 0.5rem var(--std__blue);
    place-self: center center;
    margin: 0rem 0rem 3rem;
}

.story-quote {
    grid-area: story-qte;
    font-size: 1.7rem;
    text-align: justify;
    align-self: center;
    padding: 0rem 3.5rem;
    margin: 0rem;
}

.story-quote sup {
    font-size: 1.2rem;
}

.story-quote sub {
    font-size: 1.2rem;
}

.story-quote footer {
    font-size: 1.5rem;
}

.story-text {
    grid-area: story-txt;
    font-size: 1.6rem;
    text-align: justify;
    line-height: 2.1rem;
    padding: 0rem 3.5rem;
    margin-top: 3rem;
}


/**********************************************************************/
/***                         Media Queries                          ***/
/**********************************-***********************************/


/****  screen and (min-width: 767px)  ****/

@media screen and (min-width: 767px) {

    /****************/
    /**** Header ****/
    /****************/

    .about-header-title {
        padding: 0rem 20rem 2rem 6rem;
    }

    .header-dictionary-title {
        padding: 0rem 20rem 2rem 6rem;
    }

    .header-dictionary-category {
        padding: 0rem 20rem 2rem 6rem;
    }

    .header-dictionary-description {
        padding: 0rem 20rem 2rem 6rem;
    }

    .header-dictionary-quote {
        padding: 0rem 20rem 2rem 6rem;
    }

    /***************/
    /**** Story ****/
    /***************/

    .story-quote {
        padding: 0rem 6rem;
    }

    .story-text {
        padding: 0rem 6rem;
    }

}

/****  /screen and (min-width: 767px)  ****/


/****  screen and (min-width: 1023px)  ****/

@media screen and (min-width: 1023px) {

    /****************/
    /**** Header ****/
    /****************/

    .about-header-title {
        padding: 0rem 30rem 2rem 10rem;
    }

    .header-dictionary-title {
        font-size: 2rem;
        padding: 0rem 30rem 2rem 10rem;
    }

    .header-dictionary-category {
        font-size: 2rem;
        padding: 0rem 30rem 2rem 10rem;
    }

    .header-dictionary-description {
        padding: 0rem 30rem 2rem 10rem;
    }

    .dictionary-description-number {
        font-size: 1.7rem;
    }

    .dictionary-description-text {
        font-size: 1.7rem;
    }

    .header-dictionary-quote {
        font-size: 1.7rem;
        padding: 0rem 30rem 2rem 10rem;
    }

    /***************/
    /**** Story ****/
    /***************/

    .about-story {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(2, max-content);
        grid-template-areas:
            "story-img story-qte"
            "story-txt story-txt";
        margin: 6rem 0rem 7rem;
    }

    .story-image {
        place-self: center end;
        margin: 0rem 8rem 0rem 0rem;
    }

    .story-quote {
        padding: 0rem 10rem 0rem 3rem;
    }

    .story-text {
        padding: 0rem 10rem;
    }

}

/****  /screen and (min-width: 1023px)  ****/


/****  screen and (min-width: 1200px)  ****/

@media screen and (min-width: 1200px) {

    /****************/
    /**** Header ****/
    /****************/

    .about-header-title {
        padding: 0rem 30rem 2rem 15rem;
    }

    .header-dictionary-title {
        padding: 0rem 30rem 2rem 15rem;
    }

    .header-dictionary-category {
        padding: 0rem 30rem 2rem 15rem;
    }

    .header-dictionary-description {
        padding: 0rem 30rem 2rem 15rem;
    }

    .header-dictionary-quote {
        padding: 0rem 30rem 2rem 15rem;
    }

    /***************/
    /**** Story ****/
    /***************/

    .about-story {
        margin: 6rem 0rem 7rem;
    }

    .story-image {
        width: 38.5rem;
        place-self: center end;
        margin: 0rem 10rem 0rem 8rem;
    }

    .story-quote {
        padding: 0rem 24rem 0rem 0rem;
    }

    .story-text {
        padding: 0rem 15rem;
        margin-top: 6rem;
    }

}

/****  /screen and (min-width: 1200px)  ****/


/****  screen and (min-width: 1400px)  ****/

@media screen and (min-width: 1400px) {

    /****************/
    /**** Header ****/
    /****************/

    .about-header-title {
        padding: 0rem 30rem 2rem 20rem;
    }

    .header-dictionary-title {
        padding: 0rem 30rem 2rem 20rem;
    }

    .header-dictionary-category {
        padding: 0rem 30rem 2rem 20rem;
    }

    .header-dictionary-description {
        padding: 0rem 50rem 2rem 20rem;
    }

    .header-dictionary-quote {
        padding: 0rem 50rem 2rem 20rem;
    }

    /***************/
    /**** Story ****/
    /***************/

    .about-story {
        margin: 6rem 0rem 7rem;
    }

    .story-image {
        width: 42rem;
        place-self: center end;
        margin: 0rem 10rem 0rem 20rem;
    }

    .story-quote {
        padding: 0rem 30rem 0rem 0rem;
    }

    .story-text {
        padding: 0rem 20rem;
    }

}

/****  /screen and (min-width: 1400px)  ****/


/****  screen and (min-width: 1900px)  ****/

@media screen and (min-width: 1900px) {

    /****************/
    /**** Header ****/
    /****************/

    .about-header-title {
        font-size: 3.2rem;
        padding: 0rem 30rem 2rem 25rem;
    }

    .header-dictionary-title {
        padding: 0rem 30rem 2rem 25rem;
    }

    .header-dictionary-category {
        padding: 0rem 30rem 2rem 25rem;
    }

    .header-dictionary-description {
        padding: 0rem 90rem 2rem 25rem;
    }

    .header-dictionary-quote {
        padding: 0rem 90rem 2rem 25rem;
    }

    /***************/
    /**** Story ****/
    /***************/

    .about-story {
        grid-template-columns: repeat(2, 1fr);
        margin: 6rem 0rem 7rem;
    }

    .story-image {
        width: 44rem;
        place-self: center start;
        margin: 0rem 10rem 0rem 35rem;
    }

    .story-quote {
        padding: 0rem 50rem 0rem 0rem;
    }

    .story-text {
        padding: 0rem 35rem;
    }

}

/****  /screen and (min-width: 1900px)  ****/
