/**********************************************************************/
/***                        About Container                         ***/
/**********************************-***********************************/


.container-about {
    font-family: 'Montserrat', sans-serif;
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: 100vh max-content;
    grid-template-areas: 
        "hdr"
        "txt";
}


/**********************************************************************/
/***                      Header (about.html)                       ***/
/**********************************-***********************************/


.about-header {
    grid-area: hdr;
    background-image: linear-gradient(rgba(7, 10, 18, 0.55), rgba(7, 10, 18, 0.55)), url('/media/team-in-modern-office-meeting-room.jpg');
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;
    background-attachment: fixed;
    color: var(--almost__white);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: minmax(7rem, 9rem) max-content;
    grid-template-areas: 
        "hdr-txt"
        "hdr-qte";
    place-content: center start;
    padding: 0rem 2.5rem;
}

.about-header-title {
    grid-area: hdr-txt;
    font-size: 2.6rem;
    font-weight: 600;
    place-self: end start;
    margin: 0rem 0rem 2rem;
}

.about-header-dictionary {
    grid-area: hdr-qte;
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: repeat(4, max-content);
    grid-template-areas:
        "hdr-dct-ttl"
        "hdr-dct-cat"
        "hdr-dct-dsc"
        "hdr-dct-qte";
    align-self: start;
    place-content: center start;
    margin: 0rem;
}

.header-dictionary-title {
    grid-area: hdr-dct-ttl;
    font-size: 1.8rem;
    margin: 0rem 0rem 1.5rem;
}

.header-dictionary-category {
    grid-area: hdr-dct-cat;
    font-size: 1.8rem;
    margin: 0rem 0rem 1.5rem;
}

.header-dictionary-description {
    grid-area: hdr-dct-dsc;
    font-size: 1.5rem;
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: max-content;
    grid-template-areas:
        "dct-dsc-num dct-dsc-txt";
    place-content: center start;
    margin-bottom: 1.5rem;
}

.dictionary-description-number {
    grid-area: dct-dsc-num;
    margin: 0rem;
}

.dictionary-description-text {
    grid-area: dct-dsc-txt;
    padding: 0rem 0.7rem;
    margin: 0rem;
}

.header-dictionary-quote {
    grid-area: hdr-dct-qte;
    font-size: 1.5rem;
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: max-content;
    grid-template-areas:
        "dct-qte-lqt dct-qte-txt dct-qte-rqt";
    justify-content: start;
    margin: 0rem;
}

.dictionary-left-quote {
    grid-area: dct-qte-lqt;
    font-size: 1.1rem;
    font-weight: 300;
    place-self: start center;
    margin: 0rem;
}

.dictionary-quote-text {
    grid-area: dct-qte-txt;
    font-size: 1.5rem;
    padding: 0rem 0.7rem;
    margin: 0rem;
}

.dictionary-right-quote {
    grid-area: dct-qte-rqt;
    font-size: 1.1rem;
    font-weight: 500;
    place-self: end center;
    margin: 0rem;
}


/**********************************************************************/
/***                       Story (about.html)                       ***/
/**********************************-***********************************/


.about-story {
    grid-area: txt;
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: repeat(3, max-content);
    grid-template-areas: 
        "story-img"
        "story-qte"
        "story-txt";
    margin: 6rem 0rem;
}

.story-image {
    grid-area: story-img;
    width: 33rem;
    box-shadow: 0.3rem 0.3rem 0.5rem var(--std__blue);
    place-self: center center;
    margin: 0rem 0rem 3rem;
}

.story-quote {
    grid-area: story-qte;
    font-size: 1.8rem;
    align-self: center;
}

.story-text {
    grid-area: story-txt;
    font-size: 1.6rem;
    line-height: 2.1rem;
    margin-top: 3rem;
}


/**********************************************************************/
/***                         Media Queries                          ***/
/**********************************-***********************************/


/****  /screen and (min-width: 1400px)  ****/

@media screen and (min-width: 1400px) {

    /******************/
    /****  Header  ****/
    /******************/

    .about-header-title {
        margin: 2rem 7rem 2rem 4rem;
    }

    .about-header-dictionary {
        margin: 0rem 2rem 0rem 4.5rem;
    }

    /******************/
    /****  Story  ****/
    /******************/
    
    .about-story {
        margin: 6rem 20%;
    }
    
    .story-image {
        width: 40rem;
        height: 26.8rem;
    }
    
    .story-quote {
        margin: 1.8rem 2.1rem 1.8rem 5rem;
    }

}

/****  /screen and (min-width: 1400px)  ****/


/****  screen and (min-width: 1920px)  ****/

@media only screen and (min-width: 1920px) {

    /******************/
    /****  Header  ****/
    /******************/

    .about-header-title {
        margin: 2rem 7rem;
    }

    .about-header-dictionary {
        margin: 0rem 7rem;
    }

    /******************/
    /****  Story  ****/
    /******************/
    
    .about-story {
        margin: 6rem 25%;
    }
    
    .story-image {
        width: 42.5rem;
        height: 28.48rem;
    }
    
    .story-quote {
        margin: 1.8rem 4rem;
    }
    
    .story-text {
        grid-area: story-txt;
        font-size: 1.6rem;
        line-height: 2.1rem;
        margin-top: 3rem;
    }

}

/****  /screen and (min-width: 1920px)  ****/
