/**********************************************************************/
/***                          Basic Setup                           ***/
/**********************************-***********************************/


html {
    font-size: 62.5%;
    height: 100%;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    padding: 0rem;
    margin: 0rem;
}


/**********************************************************************/
/***                      Reusable Components                       ***/
/**********************************-***********************************/


.disabled {
    display: none !important;
}

.no-decoration {
    text-decoration: none !important;
}

.no-list-style {
    list-style: none !important;
}

.no-right-margin {
    margin-right: 0rem !important;
}

.hidden {
    display: none;
    padding: 0rem;
    margin: 0rem;
}

.hide-menu {
    display: none;
}

.show-dropdown {
    display: block !important;
}

.transparent {
    background: transparent !important;
}

.bold {
    font-weight: 900;
}

.uppercase {
    text-transform: uppercase !important;
}

.white {
    color: #fff !important;
}

.blue {
    color: #1d2b51;
}

.blue-shadow {
    box-shadow: 0.45rem 0.45rem 0.9rem #1d2b51;
}

.btn-blue-white {
    color: #1d2b51;
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    background: transparent;
    border: 0.25rem solid #1d2b51;
    border-radius: 0.6rem;
    height: 4rem;
    transition: all 0.3s;
}

.btn-blue-white:hover {
    color: #fff;
    background: #1d2b51;
    transition: all 0.3s;
}

.btn-blue-white:active {
    background: rgba(29, 43, 81, 0.6);
    border: 0.1rem solid rgba(29, 43, 81, 0.6);
    transition: all 0.3s;
}

.btn-white {
    color: #fff;
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    background: transparent;
    border: 0.25rem solid #fff;
    border-radius: 0.6rem;
    height: 4rem;
    transition: all 0.3s;
}

.btn-white:hover {
    color: rgba(0, 0, 0, 0.6);
    background: #fff;
    transition: all 0.3s;
}

.btn-white:active {
    background: rgba(255, 255, 255, 0.6);
    border: 0.1rem solid rgba(255, 255, 255, 0.6);
    transition: all 0.3s;
}


/**********************************************************************/
/***                      Navbar (base.html)                        ***/
/**********************************-***********************************/


.container-navbar {
    position: fixed;
    display: grid;
    grid-template-columns: 2.5% 31.7% 31.6% 31.7% 2.5%;
    grid-template-areas:
        ". brnd menu icon ."
        ". srch srch srch .";
    grid-template-rows: 8vh 4vh;
    background: transparent;
    width: 100%;
    top: 0rem;
    left: 0rem;
    padding: 0rem;
    margin: 0rem;
    align-items: center;
    transition: all 0.5s;
    z-index: 15;
}

.navbar-brand {
    grid-area: brnd;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, max-content);
    grid-template-areas: 
        "brnd-logo brnd-ttle";
    grid-template-rows: 100%;
    align-self: center;
    justify-self: start;
    transition: all 0.5s;
}

.navbar-brand-icon {
    grid-area: brnd-logo;
    align-self: center;
    justify-self: right;
}

.navbar-brand-logo {
    height: 6rem;
    width: 6rem;
}

.navbar-brand-title {
    grid-area: brnd-ttle;
    font-family: 'Amatic SC', cursive;
    font-weight: 900;
    font-size: 3.6rem;
    align-self: center;
    justify-self: left;
    margin-left: 1.3rem;
}

.navbar-menu {
    grid-area: menu;
    align-self: center;
    justify-self: center;
    transition: all 0.5s;
}

.navbar-menu-list {
    font-family: 'Amatic SC', cursive;
    font-size: 2.4rem;
    font-weight: 600;
    display: inline-flex;
    padding: 0rem;
    margin: 0rem;
}

.navbar-menu-item {
    margin-right: 1.7rem;
}

.navbar-menu-link:hover {
    color: #e5b27c !important;
    transition: color 0.3s;
}

.navbar-menu-link:active {
    color: rgba(229, 178, 124, 0.6) !important;
    transition: color 0.3s;
}

.navbar-toggler {
    font-size: 330%;
    padding: 0rem;
    margin: 0rem;
}

.navbar-search {
    grid-area: srch;
    display: grid;
    grid-template-columns: 33.75% 32.5% 33.75%;
    grid-template-areas: 
        ". srch-bar .";
    grid-template-rows: 100%;
    width: 100%;
    align-self: center;
    transition: all 0.5s;
}

.navbar-search-form {
    grid-area: srch-bar;
    display: grid;
    grid-template-columns: 90% 10%;
    grid-template-areas: 
        "srch-txt srch-btn";
    grid-template-rows: 100%;
    width: 100%;
    align-items: center;
    justify-items: center;
}

.navbar-search-text {
    grid-area: srch-txt;
    background: transparent;
    border: 0.2rem solid #fff;
    border-radius: 0.6rem;
    font-family: 'Amatic SC', cursive;
    font-size: 1.8rem;
    font-weight: 500;
    height: 110%;
    width: 100%;
    padding-left: 1rem;
}

.navbar-search-text::placeholder {
    color: rgba(255, 255, 255, 0.7) !important;
    align-self: center;
}

.navbar-search-button {
    grid-area: srch-btn;
    background: transparent;
    border: 0.2rem solid #fff;
    border-radius: 0.6rem;
    height: 110%;
    width: 100%;
}

.navbar-search-button:hover {
    background: #fff;
    color: rgba(0, 0, 0, 0.7) !important;
    transition: all 0.3s;
}

.navbar-search-button:active {
    background: rgba(255, 255, 255, 0.6);
    color: rgba(0, 0, 0, 0.3) !important;
    transition: all 0.3s;
}

.navbar-icons {
    grid-area: icon;
    font-family: 'Amatic SC', cursive;
    display: grid;
    grid-template-columns: max-content 2% max-content;
    grid-template-areas:
        "icon-logn . icon-cart"
        "logn-text . cart-text";
    grid-template-rows: 50% 50%;
    align-self: center;
    justify-content: end;
    transition: all 0.5s;
}

.navbar-icons-login {
    grid-area: icon-logn;
    justify-self: center;
}

.navbar-icons-cart {
    grid-area: icon-cart;
    justify-self: center;
}

.navbar-login-text {
    grid-area: logn-text;
    align-self: flex-end;
    justify-self: center;
}

.navbar-login-text:hover {
    color: #e5b27c;
}

.navbar-login-dropdown {
    display: none;
    position: absolute;
    background: rgba(29, 43, 81, 0.8);
    width: 10rem;
    height: auto;
    overflow: auto;
    margin-top: 0rem;
}

.navbar-dropdown-list {
    padding: 0rem;
    margin: 0rem;
}

.navbar-dropdown-link {
    font-size: 1.7rem;
    font-weight: 600;
    padding: 0.7rem 1.6rem;
    display: block;
}

.navbar-dropdown-link:hover {
    background: #fff !important;
    color: #1d2b51 !important;
}

.navbar-dropdown-link:active {
    background: rgba(255, 255, 255, 0.6) !important;
    color: rgba(29, 43, 81, 0.6) !important;
}

.navbar-cart-text {
    grid-area: cart-text;
    align-self: flex-end;
    justify-self: center;
}

.navbar-icons-icon {
    font-size: 2.1rem;
    margin-bottom: 0.4rem;
}

.navbar-icons-text {
    font-size: 1.6rem;
    font-weight: 600;
    cursor: default;
}


/**********************************************************************/
/***                   Sticky Navbar (base.html)                    ***/
/**********************************-***********************************/


.sticky-navbar {
    grid-template-columns: 2.5% 31.7% 31.6% 31.7% 2.5%;
    grid-template-areas:
        ". brnd menu icon ."
        ". brnd srch icon .";
    grid-template-rows: 3.5vh 3.5vh;
    background: rgba(0, 0, 0, 0.95) !important;
    transition: all 0.5s;
}

.sticky-navbar-brand {
    height: 100%;
    transition: all 0.5s;
}

.sticky-navbar-brand img {
    height: 3.8rem;
    width: 3.8rem;
}

.sticky-navbar-brand .navbar-brand-title {
    font-size: 2.3rem !important;
    align-content: center !important;
    margin-left: 1.1rem !important;
}

.sticky-navbar-menu {
    align-self: flex-end;
    padding-bottom: 0.6rem;
    transition: all 0.5s;
}

.sticky-navbar-menu .navbar-menu-list  {
    font-size: 1.8rem;
}

.sticky-navbar-search {
    grid-template-columns: 100%;
    grid-template-areas: 
        "srch-bar";
    align-self: flex-start;
    padding-top: 0.2rem;
    transition: all 0.5s;
}

.sticky-navbar-search .navbar-search-form {
    width: 85%;
    justify-self: center;
}

.sticky-navbar-search .navbar-search-text {
    font-size: 1.5rem;
    border: 0.1rem solid #fff;
    border-radius: 0.4rem;
    height: 91%;
    align-self: flex-start;
}

.sticky-navbar-search .navbar-search-text::placeholder {
    font-size: 1.5rem;
}

.sticky-navbar-search .navbar-search-button {
    border: 0.1rem solid #fff;
    border-radius: 0.4rem;
    height: 91%;
    align-self: flex-start;
}

.sticky-navbar-icons {
    align-self: center;
    transition: all 0.5s;
}

.sticky-navbar-icons .navbar-icons-icon {
    font-size: 1.4rem;
}

.sticky-navbar-icons .navbar-icons-text {
    font-size: 1.4rem;
}


/**********************************************************************/
/***                             Footer                             ***/
/**********************************-***********************************/


.container-footer {
    font-family: 'Montserrat', sans-serif;
    background: #e5b27c;
    display: grid;
    grid-template-columns: 17% 18% 30% 18% 17%;
    grid-template-rows: 23.5rem 5.3rem 4.8rem;
    grid-template-areas:
        ". men mid pol ."
        ". pay pay pay ."
        ". cop cop cop .";
}

.footer-menu {
    grid-area: men;
    font-size: 1.3rem;
    font-weight: 600;
    line-height: 1.9rem;
    align-self: center;
    justify-self: center;
}

.footer-menu-list {
    padding: 0rem;
    margin: 0rem;
}

.footer-menu-link {
    transition: all 0.3s;
}

.footer-menu-link:hover {
    color: rgba(29, 43, 81, 0.7);
    font-weight: 700;
    transition: all 0.3s;
}

.footer-menu-link:active {
    color: rgba(29, 43, 81, 0.3);
    transition: all 0.3s;
}

.footer-middle {
    grid-area: mid;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 77% 23%;
    grid-template-areas: 
        "com"
        "soc";
}

.footer-community {
    grid-area: com;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 20% 60% 20%;
    grid-template-areas: 
        "com-hdr"
        "com-txt"
        "com-eml";
    padding: 0rem 7rem;
    align-self: center;
}

.footer-community-header {
    grid-area: com-hdr;
    text-align: center;
    font-size: 2.2rem;
    margin: 0rem;
}

.footer-community-text {
    grid-area: com-txt;
    font-size: 1.4rem;
    text-align: center;
    margin: 1.5rem 0rem;
}

.footer-community-form {
    grid-area: com-eml;
    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-rows: 100%;
    grid-template-areas: 
        "com-frm-eml com-frm-btn";
    width: 100%;
    align-self: center;
    justify-self: center;
}

.community-form-email {
    grid-area: com-frm-eml;
    font-size: 1.2rem;
    font-weight: 600;
    background: transparent;
    border: 0.1rem solid #1d2b51;
    border-radius: 0.4rem;
    width: auto;
    padding: 0.56rem 0.6rem;
}

.community-form-email::placeholder {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    font-weight: 600;
    color: rgba(29, 43, 81, 0.6);
    padding: 0rem 0.3rem;
}

.community-form-button {
    grid-area: com-frm-btn;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    font-weight: 600;
    background: transparent;
    border: 0.1rem solid #1d2b51;
    border-radius: 0.4rem;
    width: auto;
    padding: 0.5rem 0.6rem;
    transition: all 0.3s;
}

.community-form-button:hover {
    color: #e5b27c;
    background: #1d2b51;
    transition: all 0.3s;
}

.community-form-button:active {
    color: #e5b27c;
    background: rgba(29, 43, 81, 0.6);
    border: 0.1rem solid rgba(29, 43, 81, 0.6);
    transition: all 0.3s;
}

.footer-social {
    grid-area: soc;
    align-self: center;
    justify-self: center;
}

.footer-social-list {
    padding: 0rem;
    margin: 0rem;
}

.footer-social-list > li {
    display: inline;
    padding: 0rem 0.6rem;
}

.footer-social-icon {
    font-size: 2rem;
    transition: all 0.3s;
}

.social-icon-facebook:hover {
    color: rgb(59, 89, 152);
    transition: all 0.3s;
}

.social-icon-facebook:active {
    color: rgba(59, 89, 152, 0.6rem);
    transition: all 0.3s;
}

.social-icon-twitter:hover {
    color: rgb(29, 161, 242);
    transition: all 0.3s;
}

.social-icon-twitter:active {
    color: rgba(29, 161, 242, 0.6rem);
    transition: all 0.3s;
}

.social-icon-instagram:hover {
    color: rgb(195, 42, 163);
    transition: all 0.3s;
}

.social-icon-instagram:active {
    color: rgba(195, 42, 163, 0.6rem);
    transition: all 0.3s;
}

.footer-policies {
    grid-area: pol;
    font-size: 1.3rem;
    font-weight: 600;
    line-height: 1.9rem;
    align-self: center;
    justify-self: center;
}

.footer-policies-list {
    padding: 0rem;
    margin: 0rem;
}

.footer-policies-link {
    transition: all 0.3s;
}

.footer-policies-link:hover {
    color: rgba(29, 43, 81, 0.7);
    font-weight: 700;
    transition: all 0.3s;
}

.footer-policies-link:active {
    color: rgba(29, 43, 81, 0.3);
    transition: all 0.3s;
}

.footer-pay {
    grid-area: pay;
    align-self: center;
    justify-self: center;
}

.footer-copyright {
    grid-area: cop;
    font-size: 1.2rem;
    font-weight: 500;
    justify-self: center;
}

.footer-copyright p {
    margin-top: 0.3rem;
}
