/**********************************************************************/
/***                          Basic Setup                           ***/
/**********************************-***********************************/


html {
    font-size: 62.5%;
    height: 100%;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    padding: 0rem;
    margin: 0rem;
}


/**********************************************************************/
/***                      Reusable Components                       ***/
/**********************************-***********************************/


.disabled {
    display: none !important;
}

.no-decoration {
    text-decoration: none !important;
}

.no-list-style {
    list-style: none !important;
}

.no-right-margin {
    margin-right: 0rem !important;
}

.hidden {
    display: none;
    padding: 0rem;
    margin: 0rem;
}

.hide-menu {
    display: none;
}

.transparent {
    background: transparent !important;
}

.uppercase {
    text-transform: uppercase !important;
}

.white {
    color: #fff !important;
}


/**********************************************************************/
/***                      Navbar (base.html)                        ***/
/**********************************-***********************************/


.container-navbar {
    position: fixed;
    display: grid;
    grid-template-columns: 2.5% 31.7% 31.6% 31.7% 2.5%;
    grid-template-areas:
        ". brnd menu icon ."
        ". srch srch srch .";
    grid-template-rows: 8vh 4vh;
    background: transparent;
    width: 100%;
    top: 0rem;
    left: 0rem;
    padding: 0rem;
    margin: 0rem;
    align-items: center;
    transition: all 0.5s;
    z-index: 15;
}

.navbar-brand {
    grid-area: brnd;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, max-content);
    grid-template-areas: 
        "brnd-logo brnd-ttle";
    grid-template-rows: 100%;
    align-self: center;
    justify-self: start;
}

.navbar-brand-icon {
    grid-area: brnd-logo;
    align-self: center;
    justify-self: right;
}

.navbar-brand-logo {
    height: 6rem;
    width: 6rem;
}

.navbar-brand-title {
    grid-area: brnd-ttle;
    font-family: 'Amatic SC', cursive;
    font-weight: 900;
    font-size: 3.6rem;
    align-self: center;
    justify-self: left;
    margin-left: 1.3rem;
}

.navbar-menu {
    grid-area: menu;
    align-self: center;
    justify-self: center;
}

.navbar-menu-list {
    font-family: 'Amatic SC', cursive;
    font-size: 2.4rem;
    font-weight: 600;
    display: inline-flex;
    padding: 0rem;
    margin: 0rem;
}

.navbar-menu-item {
    margin-right: 1.7rem;
}

.navbar-menu-item a:hover,
.navbar-menu-item a:active {
    color: rgba(255, 255, 255, 0.6);
    transition: color 0.3s;
}

.navbar-toggler {
    font-size: 330%;
    padding: 0rem;
    margin: 0rem;
}

.navbar-search {
    grid-area: srch;
    display: grid;
    grid-template-columns: 33.75% 32.5% 33.75%;
    grid-template-areas: 
        ". srch-bar .";
    grid-template-rows: 100%;
    width: 100%;
    align-self: center;
}

.navbar-search-form {
    grid-area: srch-bar;
    display: grid;
    grid-template-columns: 90% 10%;
    grid-template-areas: 
        "srch-txt srch-btn";
    grid-template-rows: 100%;
    width: 100%;
    align-items: center;
    justify-items: center;
}

.navbar-search-text {
    grid-area: srch-txt;
    background: transparent;
    border: 0.2rem solid #fff;
    border-radius: 0.6rem;
    font-family: 'Amatic SC', cursive;
    font-size: 1.8rem;
    font-weight: 500;
    height: 110%;
    width: 100%;
    padding-left: 1rem;
}

.navbar-search-text::placeholder {
    color: rgba(255, 255, 255, 0.7) !important;
    align-self: center;
}

.navbar-search-button {
    grid-area: srch-btn;
    background: transparent;
    border: 0.2rem solid #fff;
    border-radius: 0.6rem;
    height: 110%;
    width: 100%;
}

.navbar-search-button:hover {
    background: #fff;
    color: rgba(0, 0, 0, 0.7) !important;
    transition: all 0.3s;
}

.navbar-search-button:active {
    background: rgba(255, 255, 255, 0.6);
    color: rgba(0, 0, 0, 0.3) !important;
    transition: all 0.3s;
}

.navbar-icons {
    grid-area: icon;
    font-family: 'Amatic SC', cursive;
    display: grid;
    grid-template-columns: max-content 2% max-content;
    grid-template-areas:
        "icon-logn . icon-cart"
        "logn-text . cart-text";
    grid-template-rows: 50% 50%;
    align-self: center;
    justify-content: end;
}

.navbar-icons-login {
    grid-area: icon-logn;
    justify-self: center;
}

.navbar-icons-cart {
    grid-area: icon-cart;
    justify-self: center;
}

.navbar-login-text {
    grid-area: logn-text;
    align-self: flex-end;
    justify-self: center;
}

.navbar-cart-text {
    grid-area: cart-text;
    align-self: flex-end;
    justify-self: center;
}

.navbar-icons-icon {
    font-size: 2.1rem;
    margin-bottom: 0.4rem;
}

.navbar-icons-text {
    font-size: 1.6rem;
    font-weight: 600;
}


/**********************************************************************/
/***                   Sticky Navbar (base.html)                    ***/
/**********************************-***********************************/


.sticky-navbar {
    grid-template-columns: 2.5% 31.7% 31.6% 31.7% 2.5%;
    grid-template-areas:
        ". brnd menu icon ."
        ". brnd srch icon .";
    grid-template-rows: 3.5vh 3.5vh;
    background: rgba(0, 0, 0, 0.7) !important;
    transition: all 0.3s;
}

.sticky-navbar-brand {
    height: 100%;
}

.sticky-navbar-brand img {
    height: 3.8rem;
    width: 3.8rem;
}

.sticky-navbar-brand .navbar-brand-title {
    font-size: 2.3rem !important;
    align-content: center !important;
    margin-left: 1.1rem !important;
}

.sticky-navbar-menu {
    align-self: flex-end;
    padding-bottom: 0.6rem;
}

.sticky-navbar-menu .navbar-menu-list  {
    font-size: 1.8rem;
}

.sticky-navbar-search {
    grid-template-columns: 100%;
    grid-template-areas: 
        "srch-bar";
    align-self: flex-start;
    padding-top: 0.2rem;
}

.sticky-navbar-search .navbar-search-form {
    width: 85%;
    justify-self: center;
}

.sticky-navbar-search .navbar-search-text {
    font-size: 1.5rem;
    border: 0.1rem solid #fff;
    border-radius: 0.4rem;
    height: 91%;
    align-self: flex-start;
}

.sticky-navbar-search .navbar-search-text::placeholder {
    font-size: 1.5rem;
}

.sticky-navbar-search .navbar-search-button {
    border: 0.1rem solid #fff;
    border-radius: 0.4rem;
    height: 91%;
    align-self: flex-start;
}

.sticky-navbar-icons {
    align-self: center;
}

.sticky-navbar-icons .navbar-icons-icon {
    font-size: 1.4rem;
}

.sticky-navbar-icons .navbar-icons-text {
    font-size: 1.4rem;
}


/**********************************************************************/
/***                             Footer                             ***/
/**********************************-***********************************/


.container-footer {
    font-family: 'Amatic SC', cursive;
    background: #e5b27c;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: grid;
    grid-template-columns: 20% 15% 30% 15% 20%;
    grid-template-rows: 22rem repeat(2, 5.3rem);
    grid-template-areas:
        ". men mid pol ."
        ". pay pay pay ."
        ". cop cop cop .";
}

.footer-menu {
    grid-area: men;
    font-size: 2.3rem;
    font-weight: 600;
    align-self: center;
    justify-self: center;
}

.footer-menu-list {
    padding: 0rem;
    margin: 0rem;
}

.footer-middle {
    grid-area: mid;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 2.65rem 1.75rem;
    grid-template-areas: 
        "com"
        "soc";
}

.footer-community {
    grid-area: com;
    padding: 0rem 7rem;
    align-self: flex-end;
    justify-self: center;
}

.footer-community-header {
    text-align: center;
    font-size: 2rem;
}

.footer-community-text {
    text-align: center;
}

.footer-social {
    grid-area: soc;
    align-self: flex-start;
    justify-self: center;
    padding-top: 3rem;
}

.footer-social-list {
    padding: 0rem;
    margin: 0rem;
}

.footer-social-list > li {
    display: inline;
    padding: 0rem 0.6rem;
}

.footer-social-icon {
    font-size: 2rem;
}

.footer-policies {
    grid-area: pol;
    font-size: 2.3rem;
    font-weight: 600;
    align-self: center;
    justify-self: center;
}

.footer-policies-list {
    padding: 0rem;
    margin: 0rem;
}

.footer-pay {
    grid-area: pay;
    align-self: center;
    justify-self: center;
}

.footer-copyright {
    grid-area: cop;
    justify-self: center;
}
