/**********************************************************************/
/***                   Cart Container (cart.html)                   ***/
/**********************************-***********************************/


.container-cart {
    font-family: 'Montserrat', sans-serif;
    min-height: 82vh;
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 18vh repeat(2, max-content);
    grid-template-areas: 
        "crt-hdr crt-hdr crt-hdr"
        ". crt-hdn ."
        ". crt-itm .";
}

/**********************************************************************/
/***                    Cart Header (cart.html)                     ***/
/**********************************-***********************************/


.cart-header {
    grid-area: crt-hdr;
    background-image: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url('/media/interestingly-designed-store.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 18vh;
    background-attachment: fixed;
}


/**********************************************************************/
/***                    Cart Heading (cart.html)                    ***/
/**********************************-***********************************/


.cart-heading {
    grid-area: crt-hdn;
    font-size: 3.9rem;
    font-weight: 600;
    margin: 6rem 0rem 5rem 0rem;
}

.cart-heading p {
    margin: 0rem;
}

.cart-heading p i {
    margin-left: 1.8rem;
}


/**********************************************************************/
/***                     Cart Items (cart.html)                     ***/
/**********************************-***********************************/


.cart-items {
    grid-area: crt-itm;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(2, max-content);
    grid-template-areas: 
        "itm-hdr"
        "itm-lst";
    justify-self: center;
    width: 100%;
    margin: 0rem 0rem 6rem 0rem;
}

.cart-items-header {
    grid-area: itm-hdr;
    display: grid;
    grid-template-columns: 15.7% 9.5% auto 4% 7% 7.5% 8%;
    grid-template-rows: max-content;
    grid-template-areas: 
        "itm-lbl-dtl itm-lbl-sku itm-lbl-dsc itm-lbl-siz itm-lbl-prc itm-lbl-qty itm-lbl-sub";
    border-bottom: 0.2rem solid #1d2b51;
    width: 100%;
}

.label-detail {
    grid-area: itm-lbl-dtl;
    background: rgba(29, 43, 81, 0.25);
}

.label-sku {
    grid-area: itm-lbl-sku;
    background: rgba(29, 43, 81, 0.15);
}

.label-descritption {
    grid-area: itm-lbl-dsc;
    background: rgba(29, 43, 81, 0.25);
}

.label-size {
    grid-area: itm-lbl-siz;
    background: rgba(29, 43, 81, 0.15);
}

.label-price {
    grid-area: itm-lbl-prc;
    background: rgba(29, 43, 81, 0.25);
}

.label-quantity {
    grid-area: itm-lbl-qty;
    background: rgba(29, 43, 81, 0.15);
}

.label-subtotal {
    grid-area: itm-lbl-sub;
    background: rgba(29, 43, 81, 0.25);
}

.items-header-label {
    font-size: 1.2rem;
    font-weight: 600;
    text-align: center;
    padding: 1rem;
}

.cart-items-list {
    grid-area: itm-lst;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(3,max-content);
    grid-template-areas: 
        "itm-lst-ord"
        "itm-lst-tly"
        "itm-lst-btn";
    padding: 0rem;
}

.list-items-ordered {
    grid-area: itm-lst-ord;
    display: grid;
    grid-template-columns: 15.7% 9.5% auto 4% 7% 7.5% 8%;
    width: 100%;
    justify-self: center;
}

.list-items-ordered > span {
    padding: 2rem 1rem;
}

.list-items-ordered > span:nth-child(7n+1) {
    background: rgba(29, 43, 81, 0.1);
    padding: 2rem 0.8rem;
}

.list-items-ordered > span:nth-child(7n+2) {
    background: rgba(29, 43, 81, 0.05);
    padding: 2rem 0.9rem;
}

.list-items-ordered > span:nth-child(7n+3) {
    background: rgba(29, 43, 81, 0.1);
}

.list-items-ordered > span:nth-child(7n+4) {
    background: rgba(29, 43, 81, 0.05);
}

.list-items-ordered > span:nth-child(7n+5) {
    background: rgba(29, 43, 81, 0.1);
}

.list-items-ordered > span:nth-child(7n+6) {
    background: rgba(29, 43, 81, 0.05);
    padding: 3rem 0.3rem 0rem 0.3rem;
}

.list-items-ordered > span:nth-child(7n+7) {
    background: rgba(29, 43, 81, 0.1);
}

.list-items-ordered > span > p {
    margin: 1rem 0rem 0rem 0rem;
}

.ordered-image {
    width: 16rem;
    justify-self: flex-start;
}

.ordered-name {
    font-size: 1.4rem;
    font-weight: 600;
    text-align: left;
}

.ordered-size {
    font-size: 1.3rem;
    font-weight: 600;
    text-align: center;
}

.ordered-sku {
    font-size: 1.2rem;
    text-align: left;
}

.ordered-price {
    font-size: 1.3rem;
    text-align: right;
}

.ordered-quantity {
    font-size: 1.3rem;
    display: grid;
    grid-template-columns: repeat(3, max-content);
    grid-template-rows: repeat(2, max-content);
    grid-template-areas:
        "ord-dec ord-box ord-inc"
        "upd-rem upd-rem upd-rem";
    height: calc(100% - 3rem);
    place-self: center center;
}

.quantity-input-decrement {
    grid-area: ord-dec;
    font-size: 0.9rem;
    place-self: center center;
    padding: 3rem 0rem;
}

/*  The code for the removal of the input spin button was provided by w3schools 
    (https://www.w3schools.com/howto/howto_css_hide_arrow_number.asp) and
    repurposed for the increment and decrement of quantity  */

.quantity-input {
    grid-area: ord-box;
    background: transparent;
    font-size: 1.3rem;
    font-weight: 500;
    text-align: center;
    place-self: end center;
    width: 2.9rem;
    border: 0.1rem transparent;
    border-bottom: 0.1rem solid #1d2b51;
    margin: 0rem;
    -moz-appearance: textfield;  /* Firefox */
}

/* Chrome, Safari, Edge, Opera */
.quantity-input::-webkit-outer-spin-button,
.quantity-input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.quantity-input-increment {
    grid-area: ord-inc;
    font-size: 0.9rem;
    place-self: center center;
    padding: 3rem 0rem;
}

.quantity-control {
    background: transparent;
    border: transparent;
    cursor: pointer;
    width: 2rem;
    padding: 0.1rem;
}

.update-remove-wrapper {
    grid-area: upd-rem;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: max-content;
    grid-template-areas:
        "ord-upd ord-rem";
    width: 100%;
    place-self: center center;
    padding-top: 1rem;
}

.update-quantity {
    grid-area: ord-upd;
    color: rgba(34, 139, 34, 0.75);
    place-self: center start;
    padding-left: 0.8rem;
}

.remove-item {
    grid-area: ord-rem;
    color: rgba(178, 34, 34, 0.75);
    place-self: center end;
    padding-right: 0.8rem;
}

.update-remove {
    font-size: 1.4rem;
    cursor: pointer;
}

.ordered-total {
    font-size: 1.3rem;
    text-align: right;
}

.list-items-tally {
    grid-area: itm-lst-tly;
    border-top: 0.2rem solid #1d2b51;
    background: rgba(29, 43, 81, 0.25);
    display: grid;
    grid-template-columns: 90% 10%;
    grid-template-rows: repeat(3, max-content);
    grid-template-areas: 
        "crt-lbl tly-crt"
        "shp-lbl tly-shp"
        "ord-lbl tly-ord";
    place-items: center end;
    padding: 2rem 1rem 1rem 1rem;
}

.tally-cart-label {
    grid-area: crt-lbl;
}

.tally-cart-total {
    grid-area: tly-crt;
}

.tally-shipping-label {
    grid-area: shp-lbl;
}

.tally-shipping {
    grid-area: tly-shp;
}

.tally-order-label {
    grid-area: ord-lbl;
}

.tally-order-total {
    grid-area: tly-ord;
}

.tally-label {
    font-size: 1.3rem;
    margin-bottom: 1rem;
}

.tally-number {
    font-size: 1.3rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.tally-free-shipping {
    font-size: 1.3rem;
}

.cart-actions {
    grid-area: itm-lst-btn;
    justify-self: end;
    margin: 2rem 0rem;
}

.cart-actions-shopping {
    width: 16rem;
    height: 4rem;
    padding: 0.75rem 1rem 0.76rem 1rem;
    margin-right: 0.2rem;
}

.cart-actions-checkout {
    width: 24rem;
    height: 4rem;
    padding: 0.75rem 1rem 0.76rem 1rem;
}

.cart-actions-checkout i {
    margin-left: 0.6rem;
}

.cart-empty {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(2, max-content);
    grid-template-areas: 
        "emp-stm"
        "emp-btn";
}

.empty-statement {
    grid-area: emp-stm;
    font-size: 1.5rem;
    font-weight: 600;
    margin: 2rem 0rem;
}

.empty-buttons {
    grid-area: emp-btn;
    justify-self: end;
}

.cart-empty-shopping {
    width: 16rem;
    height: 4rem;
    padding: 0.75rem 1rem 0.75rem 1rem;
    margin-right: 0.2rem;
}

.cart-empty-checkout {
    width: 24rem;
    height: 4rem;
    padding: 0.75rem 1rem 0.76rem 1rem;
}

.cart-empty-checkout i {
    margin-left: 0.6rem;
}
