/**********************************************************************/
/***                   Cart Container (cart.html)                   ***/
/**********************************-***********************************/


.container-cart {
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10rem max-content minmax(40rem, max-content);
    grid-template-areas: 
        "crt-hdr"
        "crt-hdn"
        "crt-itm";
}

/**********************************************************************/
/***                    Cart Header (cart.html)                     ***/
/**********************************-***********************************/


.cart-header {
    grid-area: crt-hdr;
    background-image: linear-gradient(rgba(7, 10, 18, 0.55), rgba(7, 10, 18, 0.55)), url('/media/interestingly-designed-store.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 10rem;
    background-attachment: fixed;
}


/**********************************************************************/
/***                    Cart Heading (cart.html)                    ***/
/**********************************-***********************************/


.cart-heading {
    grid-area: crt-hdn;
    font-size: 3.1rem;
    font-weight: 600;
    margin: 3rem 2rem;
}

.cart-heading p {
    margin: 0rem;
}

.cart-heading p i {
    margin-left: 1.2rem;
}


/**********************************************************************/
/***                     Cart Items (cart.html)                     ***/
/**********************************-***********************************/


.cart-items-header {
    grid-area: itm-hdr;
    display: none;
    grid-template-columns: 15.7% 9.5% auto 4% 7% 7.5% 8%;
    grid-template-rows: max-content;
    grid-template-areas: 
        "itm-lbl-dtl itm-lbl-sku itm-lbl-dsc itm-lbl-siz itm-lbl-prc itm-lbl-qty itm-lbl-sub";
    border-bottom: 0.2rem solid var(--std__blue);
    width: 100%;
}

.cart-items {
    grid-area: crt-itm;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: max-content;
    grid-template-areas:
        "itm-lst";
    margin: 0rem 2rem 6rem;
}

.cart-items-list {
    grid-area: itm-lst;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3,max-content);
    grid-template-areas: 
        "itm-lst-ord"
        "itm-lst-tly"
        "itm-lst-btn";
    padding: 0rem;
}

.list-items-ordered {
    grid-area: itm-lst-ord;
    margin: 0rem 2rem 2rem;
}

.list-items-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, max-content);
    grid-template-areas:
        "itm-ord-img itm-ord-img itm-ord-img"
        "itm-ord-sku itm-ord-sku itm-ord-sku"
        "itm-ord-dsc itm-ord-dsc itm-ord-dsc"
        "itm-ord-siz itm-ord-qty itm-ord-sub";
    margin: 0rem 0rem 2rem;
}

.span1 {
    grid-area: itm-ord-img;
    place-self: center center;
}

.span2 {
    grid-area: itm-ord-sku;
    place-self: start start;
}

.span3 {
    grid-area: itm-ord-dsc;
    place-self: start start;
}

.span4 {
    grid-area: itm-ord-siz;
    place-self: start center;
}

.span5 {
    grid-area: itm-ord-qty;
    place-self: start center;
}

.span6 {
    grid-area: itm-ord-sub;
    place-self: start end;
}

.ordered-image {
    width: 16rem;
    margin: 0.5rem 0.5rem 0.7rem;
}

.ordered-sku {
    font-size: 1.2rem;
    text-align: left;
    margin: 0.5rem;
}

.ordered-name {
    font-size: 1.4rem;
    font-weight: 600;
    text-align: left;
    margin: 0rem 0.5rem 0.5rem;
}

.ordered-size {
    font-size: 1.3rem;
    font-weight: 600;
    text-align: center;
    margin: 0.7rem 0.5rem 0.5rem;
}

.ordered-price {
    display: none;
    font-size: 1.3rem;
    text-align: right;
}

.ordered-quantity {
    font-size: 1.3rem;
    display: grid;
    grid-template-columns: repeat(3, max-content);
    grid-template-rows: repeat(2, max-content);
    grid-template-areas:
        "ord-dec ord-box ord-inc"
        "upd-rem upd-rem upd-rem";
    height: calc(100% - 3rem);
    place-self: start center;
    margin: 0.4rem 0.5rem 0.5rem;
}

.quantity-input-decrement {
    grid-area: ord-dec;
    font-size: 0.9rem;
    place-self: center center;
    padding: 3rem 0rem;
}

/*  The code for the removal of the input spin button was provided by w3schools 
    (https://www.w3schools.com/howto/howto_css_hide_arrow_number.asp) and
    repurposed for the increment and decrement of quantity  */

.quantity-input {
    grid-area: ord-box;
    background: transparent;
    font-size: 1.3rem;
    font-weight: 500;
    text-align: center;
    place-self: end center;
    width: 2.9rem;
    border: 0.1rem transparent;
    border-bottom: 0.1rem solid var(--std__blue);
    margin: 0rem;
    -moz-appearance: textfield;  /* Firefox */
}

/* Chrome, Safari, Edge, Opera */
.quantity-input::-webkit-outer-spin-button,
.quantity-input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.quantity-input-increment {
    grid-area: ord-inc;
    font-size: 0.9rem;
    place-self: center center;
    padding: 3rem 0rem;
}

.quantity-control {
    background: transparent;
    border: transparent;
    cursor: pointer;
    width: 2rem;
    padding: 0.1rem;
}

.update-remove-wrapper {
    grid-area: upd-rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: max-content;
    grid-template-areas:
        "ord-upd ord-rem";
    width: 100%;
    place-self: center center;
    padding-top: 1rem;
}

.update-quantity {
    grid-area: ord-upd;
    color: rgba(34, 139, 34, 0.75);
    place-self: center start;
    padding-left: 0.8rem;
}

.remove-item {
    grid-area: ord-rem;
    color: rgba(178, 34, 34, 0.75);
    place-self: center end;
    padding-right: 0.8rem;
}

.update-remove {
    font-size: 1.4rem;
    cursor: pointer;
}

.ordered-total {
    font-size: 1.3rem;
    text-align: right;
    margin: 0.5rem;
}

.list-items-tally {
    grid-area: itm-lst-tly;
    border-top: 0.2rem solid var(--std__blue);
    background: rgba(29, 43, 81, 0.25);
    display: grid;
    grid-template-columns: auto 8rem;
    grid-template-rows: repeat(3, max-content);
    grid-template-areas: 
        "crt-lbl tly-crt"
        "shp-lbl tly-shp"
        "ord-lbl tly-ord";
    place-items: center end;
    padding: 2rem 2rem 1rem;
    margin-bottom: 2rem;
}

.tally-cart-label {
    grid-area: crt-lbl;
}

.tally-cart-total {
    grid-area: tly-crt;
    margin: 0rem 0.5rem;
}

.tally-shipping-label {
    grid-area: shp-lbl;
}

.tally-shipping {
    grid-area: tly-shp;
    margin: 0rem 0.5rem;
}

.tally-order-label {
    grid-area: ord-lbl;
}

.tally-order-total {
    grid-area: tly-ord;
    margin: 0rem 0.5rem;
}

.tally-label {
    font-size: 1.3rem;
    margin-bottom: 1rem;
}

.tally-number {
    font-size: 1.3rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.tally-free-shipping {
    font-size: 1.3rem;
}

.cart-actions {
    grid-area: itm-lst-btn;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, max-content);
    grid-template-areas:
        "crt-act-shp"
        "crt-act-chk";
    place-self: center center;
    margin: 1rem 0rem;
}

.cart-actions-shopping {
    grid-area: crt-act-shp;
    width: 20rem;
    padding: 0.75rem 1rem 0.76rem 1rem;
    margin-bottom: 0.2rem;
}

.cart-actions-checkout {
    grid-area: crt-act-chk;
    width: 20rem;
    padding: 0.75rem 1rem 0.76rem 1rem;
}

.cart-actions-checkout i {
    margin-left: 0.6rem;
}

.cart-empty {
    grid-area: itm-lst-btn;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, max-content);
    grid-template-areas: 
        "emp-stm"
        "emp-btn";
}

.empty-statement {
    grid-area: emp-stm;
    font-size: 1.5rem;
    font-weight: 600;
    margin: 2rem 2rem 4rem;
}

.empty-buttons {
    grid-area: emp-btn;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, max-content);
    grid-template-areas:
        "crt-emp-shp"
        "crt-emp-chk";
    place-content: center center;
}

.cart-empty-shopping {
    grid-area: crt-emp-shp;
    width: 19rem;
    place-self: center center;
    padding: 0.75rem 1rem 0.75rem 1rem;
    margin-bottom: 0.2rem;
}

.cart-empty-checkout {
    grid-area: crt-emp-chk;
    width: 19rem;
    place-self: center center;
    padding: 0.75rem 1rem 0.76rem 1rem;
}

.cart-empty-checkout i {
    margin-left: 0.6rem;
}


/**********************************************************************/
/***                         Media Queries                          ***/
/**********************************-***********************************/


/****  screen and (min-width: 767px)  ****/

@media screen and (min-width: 767px) {

    /**************/
    /***  Cart  ***/
    /**************/

    .container-cart {
        grid-template-rows: 10rem max-content minmax(60rem, max-content);
    }

    .cart-heading {
        margin: 3rem 6rem;
    }

    .cart-items {
        margin: 0rem 6rem 6rem;
    }

    .list-items-ordered {
        margin: 0rem 6rem 2rem;
    }

    .empty-statement {
        margin: 2rem 6rem 4rem;
    }

    .list-items-tally {
        padding: 2rem 6rem 1rem;
    }

}

/****  /screen and (min-width: 767px)  ****/


/****  screen and (min-width: 1023px)  ****/

@media screen and (min-width: 1023px) {

    /**************/
    /***  Cart  ***/
    /**************/

    .container-cart {
        grid-template-rows: 13rem max-content minmax(85rem, max-content);
    }

    .cart-header {
        height: 13rem;
    }

    .cart-heading {
        margin: 3rem 10rem;
    }

    .cart-items {
        margin: 0rem 10rem 6rem;
    }

    .list-items-ordered {
        margin: 0rem 10rem 2rem;
    }

    .empty-statement {
        margin: 2rem 10rem 4rem;
    }

    .list-items-tally {
        padding: 2rem 10rem 1rem;
    }

}

/****  /screen and (min-width: 1023px)  ****/


/****  screen and (min-width: 1200px)  ****/

@media screen and (min-width: 1200px) {

    /**************/
    /***  Cart  ***/
    /**************/

    .container-cart {
        grid-template-rows: 13rem max-content minmax(50rem, max-content);
    }

    .cart-header {
        height: 13rem;
    }

    .cart-heading {
        margin: 3rem 15rem;
    }

    .cart-items {
        grid-template-rows: repeat(2, max-content);
        grid-template-areas:
            "itm-hdr"
            "itm-lst";
        margin: 0rem 5rem 6rem;
    }

    .cart-items-header {
        grid-area: itm-hdr;
        display: grid;
        grid-template-columns: 15.7% 9.5% auto 4% 7% 7.5% 8%;
        grid-template-rows: max-content;
        grid-template-areas:
            "itm-lbl-dtl itm-lbl-sku itm-lbl-dsc itm-lbl-siz itm-lbl-prc itm-lbl-qty itm-lbl-sub";
        border-bottom: 0.2rem solid var(--std__blue);
        width: 100%;
        place-self: center center;
        margin: 0rem;
    }

    .label-detail {
        grid-area: itm-lbl-dtl;
        background: rgba(29, 43, 81, 0.25);
    }

    .label-sku {
        grid-area: itm-lbl-sku;
        background: rgba(29, 43, 81, 0.15);
    }

    .label-descritption {
        grid-area: itm-lbl-dsc;
        background: rgba(29, 43, 81, 0.25);
    }

    .label-size {
        grid-area: itm-lbl-siz;
        background: rgba(29, 43, 81, 0.15);
    }

    .label-price {
        grid-area: itm-lbl-prc;
        background: rgba(29, 43, 81, 0.25);
    }

    .label-quantity {
        grid-area: itm-lbl-qty;
        background: rgba(29, 43, 81, 0.15);
    }

    .label-subtotal {
        grid-area: itm-lbl-sub;
        background: rgba(29, 43, 81, 0.25);
    }

    .items-header-label {
        font-size: 1.2rem;
        font-weight: 600;
        text-align: center;
        padding: 1rem;
    }

    .list-items-ordered {
        margin: 0rem;
    }

    .list-items-wrapper {
        grid-area: none;
        display: grid;
        grid-template-columns: 15.7% 9.5% auto 4% 7% 7.5% 8%;
        grid-template-rows: max-content;
        grid-template-areas:
            "itm-ord-img itm-ord-sku itm-ord-dsc itm-ord-siz itm-ord-prc itm-ord-qty itm-ord-sub";
        width: 100%;
        place-self: center center;
        padding: 0rem 0rem 2rem;
    }

    .span1 {
        padding: 2rem 0.8rem;
    }

    .span2 {
        padding: 2rem 0.9rem;
    }

    .span5 {
        padding: 3rem 0.3rem 0rem 0.3rem;
    }

    .list-items-ordered > .list-items-wrapper > span {
        padding: 2rem 1rem;
    }

    .list-items-ordered > .list-items-wrapper > span > p {
        margin: 1rem 0rem 0rem 0rem;
    }

    .ordered-price {
        grid-area: itm-ord-prc;
        display: grid;
    }

    .empty-statement {
        margin: 2rem 5rem 4rem;
    }

    .list-items-tally {
        padding: 2rem 0rem 1rem;
        margin: 0rem 0rem 2rem;
    }

    .tally-cart-total {
        margin: 0rem 1rem 1rem;
    }

    .tally-shipping {
        margin: 0rem 1rem 1rem;
    }

    .tally-order-total {
        margin: 0rem 1rem 1rem;
    }

}

/****  /screen and (min-width: 1200px)  ****/


/****  screen and (min-width: 1400px)  ****/

@media screen and (min-width: 1400px) {

    /**************/
    /***  Cart  ***/
    /**************/

    .cart-heading {
        margin: 3rem 20rem;
    }

    .cart-items {
        grid-template-rows: repeat(2, max-content);
        grid-template-areas:
            "itm-hdr"
            "itm-lst";
        margin: 0rem 10rem 6rem;
    }

    .empty-statement {
        margin: 2rem 10rem 4rem;
    }

}

/****  /screen and (min-width: 1400px)  ****/


/****  screen and (min-width: 1920px)  ****/

@media screen and (min-width: 1920px) {

    /**************/
    /***  Cart  ***/
    /**************/

    .cart-heading {
        margin: 3rem 25rem;
    }

    .cart-items {
        grid-template-rows: repeat(2, max-content);
        grid-template-areas:
            "itm-hdr"
            "itm-lst";
        margin: 0rem 15rem 6rem;
    }

    .empty-statement {
        margin: 2rem 15rem 4rem;
    }

}

/****  /screen and (min-width: 1920px)  ****/
