/**********************************************************************/
/***             Collection Container (collection.html)             ***/
/**********************************-***********************************/


.container-collection {
    font-family: 'Montserrat', sans-serif;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 18vh max-content;
    grid-template-areas: 
        "col-hdr"
        "col-itm";
}

/**********************************************************************/
/***              Collection Header (collection.html)               ***/
/**********************************-***********************************/


.collection-header {
    grid-area: col-hdr;
    background-image: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url('/media/interestingly-designed-store.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 18vh;
    background-attachment: fixed;
}

/**********************************************************************/
/***               Collection Items (collection.html)               ***/
/**********************************-***********************************/


.collection-item {
    grid-area: col-itm;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(3, max-content);
    grid-template-areas: 
        "itm-ttl"
        "itm-src"
        "itm-col";
    margin: 6rem 0rem;
}

.item-title {
    grid-area: itm-ttl;
    font-size: 4rem;
    font-weight: 600;
    width: 100%;
    justify-self: center;
}

.item-title p {
    text-align: center;
    margin: 0rem;
}

.item-search {
    grid-area: itm-src;
    display: grid;
    grid-template-columns: 10.5% 22.5% 34% 22.5% 10.5%;
    grid-template-areas: 
        ". src-cnt src-bar src-srt .";
    grid-template-rows: 100%;
    width: 100%;
    /* place-self: end center; */
    transition: all 0.5s;
    margin-top: 3rem;
}

.item-count {
    grid-area: src-cnt;
    place-self: end start;
}

.item-count p {
    font-size: 1.4rem;
    font-weight: 500;
    margin: 0rem;
}

.item-count a {
    font-weight: 600;
}

.item-count a:hover {
    color: #e5b27c;
}

.item-count a:active {
    color: rgba(29, 43, 81, 0.7);
}

.search-form {
    grid-area: src-bar;
    font-family: 'Montserrat', sans-serif;
    display: grid;
    grid-template-columns: 90% 10%;
    grid-template-areas: 
        "src-txt src-btn";
    grid-template-rows: 100%;
    width: 100%;
    place-items: center center;
}

.search-text {
    grid-area: src-txt;
    background: transparent;
    border: 0.2rem solid #1d2b51;
    border-radius: 0.6rem;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.6rem;
    font-weight: 600;
    height: 3.5rem;
    width: 100%;
    padding-left: 1rem;
}

.search-text::placeholder {
    color: rgba(29, 43, 81, 0.9) !important;
    font-size: 1.6rem;
    font-weight: 500;
    align-self: center;
    padding-bottom: 0.5rem;
}

.search-button {
    grid-area: src-btn;
    background: transparent;
    border: 0.2rem solid #1d2b51;
    border-radius: 0.6rem;
    height: 3.5rem;
    width: 100%;
}

.item-sort {
    grid-area: src-srt;
    place-self: end end;
}

.sort-dropdown {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.4rem;
    font-weight: 500;
    width: 18rem;
    height: 2.4rem;
    border: 0rem transparent;
    border-bottom: 0.1rem solid #1d2b51;
}

.sort-dropdown > option {
    background: rgba(29, 43, 81, 0.95);
    color: #fff;
    border-radius: 0rem;
}

.sort-dropdown:active {
    border: 0rem transparent;
    border-bottom: 0.1rem solid #1d2b51;
}

.item-wrapper {
    grid-area: itm-col;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 3.5rem 8% 6rem 8%;
}

.item-card {
    display: grid;
    grid-template-columns: 35rem;
    grid-template-rows: repeat(4, max-content);
    grid-template-areas: 
        "itm-img"
        "itm-bdy"
        "itm-ftr";
    border-radius: 0.6rem;
    justify-self: center;
    padding-top: 2.2rem;
    margin: 2rem;
}

.card-image {
    grid-area: itm-img;
    width: 35rem;
}

.card-body {
    grid-area: itm-bdy;
    font-size: 1.5rem;
    font-weight: 500;
    height: 6.3rem;
    padding: 0rem 0.7rem;
}

.card-footer {
    grid-area: itm-ftr;
    padding: 0rem 0.7rem;
}

.footer-price {
    font-size: 1.9rem;
    font-weight: 600;
    margin: 0.3rem 0rem;
}

.footer-collection {
    font-size: 1.4rem;
    font-weight: 500;
    margin: 0.6rem 0rem 0.8rem 0rem;
}

.footer-collection p {
    margin: 0rem;
}

.footer-collection i {
    margin-right: 0.3rem;
}

.footer-rating {
    font-size: 1.4rem;
    font-weight: 500;
    margin: 0.6rem 0rem 0.8rem 0rem;
}

.footer-rating i {
    margin-right: 0.3rem;
}

/**********************************************************************/
/***                Item Details (item_detail.html)                 ***/
/**********************************-***********************************/


.container-item-detail {
    display: grid;
    grid-template-columns: 20% repeat(2, 30%) 20%;
    grid-template-rows: 18vh 82vh;
    grid-template-areas:
        "det-hdr det-hdr det-hdr det-hdr"
        ". det-img det-sum .";
    place-self: center center;
    transition: all 0.5s;
}

.item-detail-header {
    grid-area: det-hdr;
    background-image: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url('/media/interestingly-designed-store.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 18vh;
    background-attachment: fixed;
}

.item-detail-image {
    grid-area: det-img;
    width: 40rem;
    place-self: center center;
}

.item-details {
    grid-area: det-sum;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(8, max-content);
    grid-template-areas:
        "detl-titl"
        "detl-pric"
        "detl-coll"
        "detl-ratg"
        "detl-desc"
        "detl-size"
        "detl-qnty"
        "detl-actn";
    place-self: center center;
    margin: 0rem 8rem 0rem 3rem;
}

.detail-name {
    grid-area: detl-titl;
    font-size: 2.6rem;
    margin: 3rem 0rem;
}

.detail-price {
    grid-area: detl-pric;
    font-size: 2.4rem;
    font-weight: 600;
    margin: 0rem 0rem 1.5rem 0rem;
}

.detail-collection {
    font-size: 1.4rem;
    margin: 0rem 0rem 1rem 0rem;
}

.detail-collection p {
    margin: 0rem;
}

.detail-collection i {
    margin-right: 0.6rem;
}

.detail-rating {
    grid-area: detl-ratg;
    font-size: 1.4rem;
    margin: 0rem 0rem 1rem 0rem;
}

.detail-rating i {
    margin-right: 0.6rem;
}

.detail-description {
    grid: detl-desc;
    font-size: 1.7rem;
    text-align: justify;
    margin: 2rem 0rem 3rem 0rem;
}

.detail-size {
    grid-area: detl-size;
    display: grid;
    grid-template-columns: repeat(2, max-content);
    grid-template-rows: max-content;
    grid-template-areas: 
        "siz-lbl siz-drp";
    place-self: center start;
    margin-bottom: 2.5rem;
}

.size-heading {
    grid-area: siz-lbl;
    font-size: 1.5rem;
    font-weight: 600;
    place-self: end start;
    margin: 0rem 1.6rem 0rem 0rem;
}

.size-dropdown {
    grid-area: siz-drp;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.4rem;
    font-weight: 600;
    width: 5.5rem;
    height: 2.4rem;
    border: 0rem transparent;
    border-bottom: 0.1rem solid #1d2b51;
}

.size-dropdown > option {
    background: rgba(29, 43, 81, 0.95);
    color: #fff;
    border-radius: 0rem;
}

.size-dropdown:active {
    border: 0rem transparent;
    border-bottom: 0.1rem solid #1d2b51;
}

.detail-quantity {
    grid-area: detl-qnty;
    display: grid;
    grid-template-columns: repeat(2, max-content);
    grid-template-rows: max-content;
    grid-template-areas: 
        "qty-lbl qty-box";
    place-self: center start;
    margin-bottom: 2.5rem;
}

.detail-quantity {
    grid-area: detl-qnty;
    display: grid;
    grid-template-columns: repeat(4, max-content);
    grid-template-rows: max-content;
    grid-template-areas: 
        "qty-lbl qty-dec qty-box qty-inc";
    place-self: center start;
    margin-bottom: 4rem;
}

.quantity-heading {
    grid-area: qty-lbl;
    font-size: 1.5rem;
    font-weight: 600;
    place-self: end start;
    margin: 0rem 1.6rem 0rem 0rem;
}

.quantity-input-decrement {
    grid-area: qty-dec;
    place-self: center center;
}

/*  The code for the removal of the input spin button was provided by w3schools 
    (https://www.w3schools.com/howto/howto_css_hide_arrow_number.asp) and
    repurposed for the increment and decrement of quantity */

.quantity-input {
    grid-area: qty-box;
    font-size: 1.6rem;
    font-weight: 600;
    text-align: center;
    place-self: end center;
    width: 4rem;
    border: 0.1rem transparent;
    border-bottom: 0.1rem solid #1d2b51;
    margin: 0rem 0.2rem;
    -moz-appearance: textfield;  /* Firefox */
}

/* Chrome, Safari, Edge, Opera */
.quantity-input::-webkit-outer-spin-button,
.quantity-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.quantity-input-increment {
    grid-area: qty-inc;
    place-self: center center;
}

.quantity-control {
    background: transparent;
    border: transparent;
    width: 2rem;
    padding: 0.3rem;
}

.detail-actions {
    grid-area: detl-actn;
    display: grid;
    grid-template-columns: repeat(2, max-content);
    grid-template-rows: max-content;
    grid-template-areas: 
        "act-shp act-add";
    place-self: center start;
}

.actions-keep-shopping {
    grid-area: act-shp;
    width: 15rem;
    height: 2.8rem;
    padding: 0.75rem 0rem 0rem 0rem;
    margin-right: 0.2rem;
}

.actions-add {
    grid-area: act-add;
    width: 13rem;
}


/**********************************************************************/
/***                         Media Queries                          ***/
/**********************************-***********************************/


/****  /screen and (min-width: 1400px)  ****/

@media screen and (min-width: 1400px) {

    /******************/
    /****  Header  ****/
    /******************/

    .collection-header-title {
        margin: 2rem 7rem 2rem 4rem;
    }

    .collection-text {
        margin: 2.2rem 8rem 2.2rem 5rem;
    }

}

/****  /screen and (min-width: 1400px)  ****/


/****  screen and (min-width: 1920px)  ****/

@media only screen and (min-width: 1920px) {

    /******************/
    /****  Header  ****/
    /******************/

    .collection-header-title {
        margin: 2rem 7rem;
    }

    .collection-text {
        margin: 2.2rem 12rem 2.2rem 7.5rem;
    }

}

/****  /screen and (min-width: 1920px)  ****/
