/**********************************************************************/
/***             Collection Container (collection.html)             ***/
/**********************************-***********************************/


.container-collection {
    font-family: 'Montserrat', sans-serif;
    color: var(--std__blue);
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 18vh repeat(2, max-content);
    grid-template-areas: 
        "col-hdr"
        "col-sch"
        "col-itm";
}

/**********************************************************************/
/***              Collection Header (collection.html)               ***/
/**********************************-***********************************/


.collection-header {
    grid-area: col-hdr;
    background-image: linear-gradient(rgba(7, 10, 18, 0.35), rgba(7, 10, 18, 0.35)), url('/media/interestingly-designed-store.jpg');
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 18vh;
    background-attachment: fixed;
}

/**********************************************************************/
/***               Collection Items (collection.html)               ***/
/**********************************-***********************************/


.collection-search {
    grid-area: col-sch;
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: repeat(2, max-content);
    grid-template-areas:
        "sch-ttl"
        "sch-itm";
    margin: 4rem 0rem 2.5rem;
}

.item-title {
    grid-area: sch-ttl;
    font-size: 3rem;
    font-weight: 600;
    text-align: center;
    padding-bottom: 3rem;
    margin: 0rem;
}

.item-search {
    grid-area: sch-itm;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(3, max-content);
    grid-template-areas: 
        "sch-frm"
        "sch-cnt"
        "sch-srt";
    place-content: center center;
    transition: all 0.5s;
}

.search-form {
    grid-area: sch-frm;
    font-family: 'Montserrat', sans-serif;
    display: grid;
    grid-template-columns: auto 5rem;
    grid-template-areas: 
        "sch-txt sch-btn";
    grid-template-rows: max-content;
    place-items: center center;
    padding: 0rem 2rem 1rem;
}

.search-text {
    grid-area: sch-txt;
    background: transparent;
    border: 0.2rem solid #1d2b51;
    border-radius: 0.6rem;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.6rem;
    font-weight: 600;
    width: 100%;
    height: 3.5rem;
    padding-left: 1rem;
}

.search-text::placeholder {
    color: rgba(29, 43, 81, 0.9) !important;
    font-size: 1.6rem;
    font-weight: 500;
    align-self: center;
    padding-bottom: 0.5rem;
}

.search-button {
    grid-area: sch-btn;
    background: transparent;
    border: 0.2rem solid var(--std__blue);
    border-radius: 0.6rem;
    width: 100%;
    height: 3.5rem;
}

.item-count {
    grid-area: sch-cnt;
    font-size: 1.4rem;
    font-weight: 500;
    display: grid;
    grid-template-columns: max-content auto;
    grid-template-rows: max-content;
    grid-template-areas:
        "cnt-hme cnt-res";
    place-content: center center;
    padding: 0rem 2rem 1.5rem;
    margin: 0rem;
}

.item-count a,
.item-count a:active,
.item-count a:visited {
    font-weight: 600;
    color: var(--footer__orange);
}

.item-count a:hover {
   color: rgba(229, 178, 124, 0.8);
}

.count-home {
    grid-area: cnt-hme;
    place-self: start start;
}

.count-results {
    grid-area: cnt-res;
    word-wrap: normal;
    place-self: start end;
}

.item-sort {
    grid-area: sch-srt;
    place-self: center center;
}

.sort-dropdown {
    background: transparent;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.4rem;
    font-weight: 500;
    width: 18rem;
    height: 2.4rem;
    border: 0rem transparent;
    border-bottom: 0.1rem solid var(--std__blue);
}

.sort-dropdown > option {
    background: rgba(29, 43, 81, 0.95);
    color: #fff;
    border-radius: 0rem;
}

.sort-dropdown:active {
    border: 0rem transparent;
    border-bottom: 0.1rem solid var(--std__blue);
}

.collection-item {
    grid-area: col-itm;
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: repeat(3, max-content);
    grid-template-areas:
        "itm-ttl"
        "itm-src"
        "itm-col";
    margin: 0rem 0rem 6rem;
}

.item-wrapper {
    grid-area: itm-col;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 0rem;
}

.item-card {
    display: grid;
    grid-template-columns: 33rem;
    grid-template-rows: repeat(4, max-content);
    grid-template-areas: 
        "itm-img"
        "itm-bdy"
        "itm-ftr";
    box-shadow: 0.3rem 0.3rem 0.5rem var(--std__blue);
    border-radius: 0.6rem;
    justify-self: center;
    /* padding-top: 2.2rem; */
    margin: 2rem;
}

.card-image {
    grid-area: itm-img;
    width: 33rem;
}

.card-body {
    grid-area: itm-bdy;
    font-size: 1.5rem;
    font-weight: 500;
    height: 6.3rem;
    padding: 0rem 0.7rem;
}

.card-footer {
    grid-area: itm-ftr;
    padding: 0rem 0.7rem;
}

.footer-price {
    font-size: 1.9rem;
    font-weight: 600;
    margin: 0.3rem 0rem;
}

.footer-collection {
    font-size: 1.4rem;
    font-weight: 500;
    margin: 0.6rem 0rem 0.8rem 0rem;
}

.footer-collection p {
    margin: 0rem;
}

.footer-collection i {
    margin-right: 0.3rem;
}

.footer-rating {
    font-size: 1.4rem;
    font-weight: 500;
    margin: 0.6rem 0rem 0.8rem 0rem;
}

.footer-rating i {
    margin-right: 0.3rem;
}

/**********************************************************************/
/***                Item Details (item_detail.html)                 ***/
/**********************************-***********************************/


.container-item-detail {
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: 18vh repeat(2, max-content);
    grid-template-areas:
        "det-hdr"
        "det-img"
        "det-sum";
    place-self: center center;
    transition: all 0.5s;
}

.item-detail-header {
    grid-area: det-hdr;
    background-image: linear-gradient(rgba(7, 10, 18, 0.35), rgba(7, 10, 18, 0.35)), url('/media/interestingly-designed-store.jpg');
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 18vh;
    background-attachment: fixed;
}

.item-detail-image {
    grid-area: det-img;
    place-self: center center;
    padding: 6rem 0rem 2rem;
}

.item-detail-image img {
    width: 33rem;
    box-shadow: 0.3rem 0.3rem 0.5rem var(--std__blue);
}

.item-details {
    grid-area: det-sum;
    color: var(--std__blue);
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(6, max-content);
    grid-template-areas:
        "detl-titl"
        "detl-pric"
        "detl-coll"
        "detl-ratg"
        "detl-desc"
        "detl-form";
    place-self: center center;
    margin: 0rem 2rem 6rem;
}

.detail-name {
    grid-area: detl-titl;
    font-size: 2.6rem;
    margin: 3rem 0rem;
}

.detail-price {
    grid-area: detl-pric;
    font-size: 2.4rem;
    font-weight: 600;
    margin: 0rem 0rem 1.5rem;
}

.detail-collection {
    font-size: 1.4rem;
    margin: 0rem 0rem 1rem;
}

.detail-collection p {
    margin: 0rem;
}

.detail-collection i {
    margin-right: 0.6rem;
}

.detail-rating {
    grid-area: detl-ratg;
    font-size: 1.4rem;
    margin: 0rem 0rem 1rem;
}

.detail-rating i {
    margin-right: 0.6rem;
}

.detail-description {
    grid-area: detl-desc;
    font-size: 1.6rem;
    text-align: justify;
    margin: 2rem 0rem 3rem;
}

.detail-form {
    grid-area: detl-form;
    grid-template-columns: auto;
    grid-template-rows: repeat(3, max-content);
    grid-template-areas:
        "detl-size"
        "detl-qnty"
        "detl-actn";
}

.detail-size {
    grid-area: detl-size;
    display: grid;
    grid-template-columns: repeat(2, max-content);
    grid-template-rows: max-content;
    grid-template-areas: 
        "siz-lbl siz-drp";
    place-self: center start;
    margin-bottom: 2.5rem;
}

.size-heading {
    grid-area: siz-lbl;
    font-size: 1.5rem;
    font-weight: 600;
    place-self: end start;
    margin: 0rem 1.6rem 0rem 0rem;
}

.size-dropdown {
    grid-area: siz-drp;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.4rem;
    font-weight: 600;
    background: transparent;
    width: 5.5rem;
    height: 2.4rem;
    border: 0rem transparent;
    border-bottom: 0.1rem solid #1d2b51;
    cursor: pointer;
}

.size-dropdown > option {
    background: rgba(29, 43, 81, 0.95);
    color: #fff;
    border-radius: 0rem;
}

.size-dropdown:active {
    border: 0rem transparent;
    border-bottom: 0.1rem solid #1d2b51;
}

.detail-quantity {
    grid-area: detl-qnty;
    display: grid;
    grid-template-columns: repeat(2, max-content);
    grid-template-rows: max-content;
    grid-template-areas: 
        "qty-lbl qty-box";
    place-self: center start;
    margin-bottom: 2.5rem;
}

.detail-quantity {
    grid-area: detl-qnty;
    display: grid;
    grid-template-columns: repeat(4, max-content);
    grid-template-rows: max-content;
    grid-template-areas: 
        "qty-lbl qty-dec qty-box qty-inc";
    place-self: center start;
    margin-bottom: 4rem;
}

.quantity-heading {
    grid-area: qty-lbl;
    font-size: 1.5rem;
    font-weight: 600;
    place-self: end start;
    margin: 0rem 1.6rem 0rem 0rem;
}

.quantity-input-decrement {
    grid-area: qty-dec;
    place-self: center center;
}

/*  The code for the removal of the input spin button was provided by w3schools 
    (https://www.w3schools.com/howto/howto_css_hide_arrow_number.asp) and
    repurposed for the increment and decrement of quantity */

.quantity-input {
    grid-area: qty-box;
    font-size: 1.6rem;
    font-weight: 600;
    text-align: center;
    place-self: end center;
    width: 4rem;
    border: 0.1rem transparent;
    border-bottom: 0.1rem solid #1d2b51;
    margin: 0rem 0.2rem;
    -moz-appearance: textfield;  /* Firefox */
}

/* Chrome, Safari, Edge, Opera */
.quantity-input::-webkit-outer-spin-button,
.quantity-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.quantity-input-increment {
    grid-area: qty-inc;
    place-self: center center;
}

.quantity-control {
    background: transparent;
    border: transparent;
    cursor: pointer;
    width: 2rem;
    padding: 0.3rem;
}

.detail-actions {
    grid-area: detl-actn;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: max-content;
    grid-template-areas: 
        "act-shp"
        "act-add";
    place-content: center center;
}

.actions-keep-shopping {
    grid-area: act-shp;
    width: 14rem;
    padding: 1rem 1.4rem 1.1rem;
    margin-bottom: 0.4rem;
}

.actions-add {
    grid-area: act-add;
    font-family: 'Montserrat', sans-serif;
    width: 17.3rem;
    height: 4.5rem;
    padding: 1rem 1.4rem 1.1rem;
}


/**********************************************************************/
/***                         Media Queries                          ***/
/**********************************-***********************************/


/****  /screen and (min-width: 1400px)  ****/

@media screen and (min-width: 1400px) {

    /******************/
    /****  Header  ****/
    /******************/

    .collection-header-title {
        margin: 2rem 7rem 2rem 4rem;
    }

    .collection-text {
        margin: 2.2rem 8rem 2.2rem 5rem;
    }

}

/****  /screen and (min-width: 1400px)  ****/


/****  screen and (min-width: 1920px)  ****/

@media only screen and (min-width: 1920px) {

    /******************/
    /****  Header  ****/
    /******************/

    .collection-header-title {
        margin: 2rem 7rem;
    }

    .collection-text {
        margin: 2.2rem 12rem 2.2rem 7.5rem;
    }

}

/****  /screen and (min-width: 1920px)  ****/
