/**********************************************************************/
/***                      Community Container                       ***/
/**********************************-***********************************/


.container-community {
    font-family: 'Montserrat', sans-serif;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100vh;
    grid-template-areas: 
        "com-hdr";
}

/**********************************************************************/
/***                       Community Header                         ***/
/**********************************-***********************************/


.community-header {
    grid-area: com-hdr;
    background-image: linear-gradient(rgba(7, 10, 18, 0.7), rgba(7, 10, 18, 0.7)), url('/media/smiling-man-woman-pug.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
    color: var(--almost__white);
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: minmax(7rem, 9rem) max-content;
    grid-template-areas:
        "com-hdr-ttl"
        "com-hdr-txt";
    place-content: center start;
}

.community-header-title {
    grid-area: com-hdr-ttl;
    font-size: 2.6rem;
    font-weight: 600;
    place-self: end start;
    padding: 0rem 3.5rem 2rem;
    margin: 0rem;
}

.community-header-text {
    grid-area: com-hdr-txt;
    font-size: 1.5rem;
    text-align: justify;
    padding: 0rem 3.5rem;
    margin: 0rem;
}


/**********************************************************************/
/***                         Media Queries                          ***/
/**********************************-***********************************/


/****  screen and (min-width: 767px)  ****/

@media screen and (min-width: 767px) {

    /****************/
    /**** Header ****/
    /****************/

    .community-header-title {
        padding: 0rem 15rem 2rem 6rem;
    }

    .community-header-text {
        padding: 0rem 15rem 0rem 6rem;
    }

}

/****  /screen and (min-width: 767px)  ****/


/****  screen and (min-width: 1023px)  ****/

@media screen and (min-width: 1023px) {

    /****************/
    /**** Header ****/
    /****************/

    .community-header-title {
        padding: 0rem 10rem 2rem;
    }

    .community-header-text {
        padding: 0rem 30rem 0rem 10rem;
    }

}

/****  /screen and (min-width: 1023px)  ****/


/****  screen and (min-width: 1200px)  ****/

@media screen and (min-width: 1200px) {

    /****************/
    /**** Header ****/
    /****************/

    .community-header-title {
        padding: 0rem 15rem 2rem;
    }

    .community-header-text {
        padding: 0rem 45rem 0rem 15rem;
    }

}

/****  /screen and (min-width: 1200px)  ****/


/****  screen and (min-width: 1400px)  ****/

@media screen and (min-width: 1400px) {

    /****************/
    /**** Header ****/
    /****************/

    .community-header-title {
        padding: 0rem 20rem 2rem;
    }

    .community-header-text {
        padding: 0rem 60rem 0rem 20rem;
    }

}

/****  /screen and (min-width: 1400px)  ****/


/****  screen and (min-width: 1900px)  ****/

@media screen and (min-width: 1900px) {

    /****************/
    /**** Header ****/
    /****************/

    .community-header-title {
        padding: 0rem 25rem 2rem;
    }

    .community-header-text {
        padding: 0rem 90rem 0rem 25rem;
    }

}

/****  /screen and (min-width: 1900px)  ****/




