/**********************************************************************/
/***                      Community Container                       ***/
/**********************************-***********************************/


.container-community {
    font-family: 'Montserrat', sans-serif;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100vh;
    grid-template-areas: 
        "com-hdr";
}

/**********************************************************************/
/***                       Community Header                         ***/
/**********************************-***********************************/


.community-header {
    grid-area: com-hdr;
    background-image: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url("../media/smiling-man-woman-pug.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    background-attachment: fixed;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: repeat(4, 25vh);
    grid-template-areas: 
        ". ."
        "com-hdr-txt ."
        "com-hdr-qte ."
        ". .";
}

.community-header-title {
    grid-area: com-hdr-txt;
    align-self: flex-end;
    margin: 2rem 7rem;
}

.community-header-title span{
    font-size: 5.7rem;
    font-weight: 600;
}

.community-header-text {
    grid-area: com-hdr-qte;
}

.community-text {
    font-size: 1.6rem;
    margin: 2.2rem 12rem 2.2rem 7.5rem;
}


/**********************************************************************/
/***                         Media Queries                          ***/
/**********************************-***********************************/


/****  /screen and (min-width: 1400px)  ****/

@media screen and (min-width: 1400px) {

    /******************/
    /****  Header  ****/
    /******************/

    .community-header-title {
        margin: 2rem 7rem 2rem 4rem;
    }

    .community-text {
        margin: 2.2rem 8rem 2.2rem 5rem;
    }

}

/****  /screen and (min-width: 1400px)  ****/


/****  screen and (min-width: 1920px)  ****/

@media only screen and (min-width: 1920px) {

    /******************/
    /****  Header  ****/
    /******************/

    .community-header-title {
        margin: 2rem 7rem;
    }

    .community-text {
        margin: 2.2rem 12rem 2.2rem 7.5rem;
    }

}

/****  /screen and (min-width: 1920px)  ****/
