/**********************************************************************/
/***                       Contact Container                        ***/
/**********************************-***********************************/


.container-contact {
    font-family: 'Montserrat', sans-serif;
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: 100vh repeat(2, max-content);
    grid-template-areas: 
        "ctc-hdr"
        "ctc-frm"
        "ctc-dtl";
}

/**********************************************************************/
/***                         Contact Header                         ***/
/**********************************-***********************************/


.contact-header {
    grid-area: ctc-hdr;
    background-image: linear-gradient(rgba(7, 10, 18, 0.7), rgba(7, 10, 18, 0.7)), url('/media/payphone-on-brick-wall.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
    color: var(--almost__white);
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: minmax(7rem, 9rem) max-content;
    grid-template-areas:
        "ctc-hdr-txt"
        "ctc-hdr-qte";
    place-content: center start;
}

.contact-header-title {
    grid-area: ctc-hdr-txt;
    font-size: 2.6rem;
    font-weight: 600;
    place-self: end start;
    padding: 0rem 3rem 2rem;
    margin: 0rem;
}

.contact-header-text {
    grid-area: ctc-hdr-qte;
    font-size: 1.6rem;
    text-align: justify;
    place-self: start start;
    padding: 0rem 3rem;
    margin: 0rem;
}


/**********************************************************************/
/***                          Contact Form                          ***/
/**********************************-***********************************/


.contact-form {
    grid-area: ctc-frm;
    color:  var(--std__blue);
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(3, max-content);
    grid-template-areas: 
        "ctc-frm-hdr"
        "ctc-frm-dsc"
        "ctc-frm-frm";
    margin: 6rem 0rem;
}

.contact-form-header {
    grid-area: ctc-frm-hdr;
    font-size: 2.5rem;
    font-weight: 600;
    padding: 0rem 2.5rem 2rem;
    margin: 0rem;
}

.contact-form-description {
    grid-area: ctc-frm-dsc;
    font-size: 1.5rem;
    text-align: justify;
    padding: 0rem 2.5rem 2rem;
    margin: 0rem;
}

.contact-form-container {
    grid-area: ctc-frm-frm;
    display: grid;
    grid-gap: 0.2rem;
    grid-template-columns: auto;
    grid-template-rows: repeat(6, max-content);
    grid-template-areas: 
        "ctc-frm-fst"
        "ctc-frm-lst"
        "ctc-frm-phn"
        "ctc-frm-eml"
        "ctc-frm-msg"
        "ctc-frm-btn";
    padding: 0rem 2.5rem;
}

.contact-form-container input {
    font-size: 1.7rem;
    font-weight: 500;
    background: transparent;
    border: 0.15rem solid #1d2b51;
    border-radius: 0.4rem;
    width: auto;
    height: 4rem;
    padding-left: 1rem;
    margin: 0.4rem 0rem;
}

.contact-form-container input::placeholder {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
    color: #1d2b51;
}

.contact-form-first {
    grid-area: ctc-frm-fst;
}

.contact-form-last {
    grid-area: ctc-frm-lst;
}

.contact-form-phone {
    grid-area: ctc-frm-phn;
}

.contact-form-email {
    grid-area: ctc-frm-eml;
}

.contact-form-message {
    grid-area: ctc-frm-msg;
    font-size: 1.7rem;
    font-weight: 500;
    background: transparent;
    border: 0.15rem solid #1d2b51;
    border-radius: 0.4rem;
    width: auto;
    height: 20rem;
    padding-left: 1rem;
    margin: 0.4rem 0rem;
}

.contact-form-message::placeholder {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
    color: #1d2b51;
}

.contact-form-submit {
    grid-area: ctc-frm-btn;
    font-size: 1.7rem;
    font-weight: 600;
    background: transparent;
    border: 0.15rem solid #1d2b51;
    border-radius: 0.4rem;
    width: 9rem;
    height: 4rem;
    place-self: center center;
    transition: all 0.3s;
    margin: 0.5rem 0rem 0rem;
}

/**********************************************************************/
/***                        Contact Details                         ***/
/**********************************-***********************************/


.contact-details {
    background: rgba(29, 43, 81, 0.15);
    grid-area: ctc-dtl;
    color:  var(--std__blue);
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(4, max-content);
    grid-template-areas: 
        "dtl-map"
        "dtl-hdr"
        "dtl-adr"
        "dtl-cnt";
    padding: 6rem 0rem;
}

.details-map {
    grid-area: dtl-map;
    width: 33rem;
    border-radius: 0.6rem;
    box-shadow: 0.3rem 0.3rem 0.5rem var(--std__blue);
    place-self: center center;
    margin: 0rem 0rem 3rem;
}

.details-header {
    grid-area: dtl-hdr;
    font-size: 2.6rem;
    font-weight: 600;
    place-self: center start;
    padding: 0rem 2rem 2rem;
    margin: 0rem;
}

.details-address {
    grid-area: dtl-adr;
    place-self: center start;
    padding: 0rem 0rem 2rem 2rem;
}

.details-address p {
    font-size: 1.5rem;
    line-height: 3rem;
    margin: 0rem;
}

.details-contact {
    grid-area: dtl-cnt;
    font-size: 1.4rem;
    place-self: center start;
    padding: 0rem 2rem;
}

.details-contact p {
    font-size: 1.4rem;
    line-height: 3rem;
    margin: 0rem;
}

.contact-span {
    font-size: 1.2rem;
    font-weight: 700;
    padding-right: 1rem;
}


/**********************************************************************/
/***                         Media Queries                          ***/
/**********************************-***********************************/


/****  screen and (min-width: 767px)  ****/

@media screen and (min-width: 767px) {

    /****************/
    /**** Header ****/
    /****************/

    .contact-header-title {
        padding: 0rem 6rem 2rem;
    }

    .contact-header-text {
        padding: 0rem 15rem 0rem 6rem;
    }

    /**************/
    /**** Form ****/
    /**************/

    .contact-form-header {
        padding: 0rem 6rem 2rem;
    }

    .contact-form-description {
        padding: 0rem 6rem 2rem;
    }

    .contact-form-container {
        padding: 0rem 6rem;
    }

    /*****************/
    /**** Details ****/
    /*****************/

    .details-map {
        width: 38rem;
        margin: 0rem 0rem 5rem;
    }

    .details-header {
        padding: 0rem 6rem 2rem;
    }

    .details-address {
        padding: 0rem 0rem 2rem 6rem;
    }

    .details-contact {
        padding: 0rem 6rem;
    }

}

/****  /screen and (min-width: 767px)  ****/


/****  screen and (min-width: 1023px)  ****/

@media screen and (min-width: 1023px) {

    /****************/
    /**** Header ****/
    /****************/

    .contact-header-title {
        padding: 0rem 10rem 2rem;
    }

    .contact-header-text {
        padding: 0rem 30rem 0rem 10rem;
    }

    /**************/
    /**** Form ****/
    /**************/

    .contact-form-header {
        padding: 0rem 10rem 2rem;
    }

    .contact-form-description {
        padding: 0rem 10rem 2rem;
    }

    .contact-form-container {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(5, max-content);
        grid-template-areas:
            "ctc-frm-fst ctc-frm-lst"
            "ctc-frm-phn ctc-frm-phn"
            "ctc-frm-eml ctc-frm-eml"
            "ctc-frm-msg ctc-frm-msg"
            "ctc-frm-btn ctc-frm-btn";
        grid-column-gap: 1rem;
        padding: 0rem 10rem;
    }

    /*****************/
    /**** Details ****/
    /*****************/

    .details-map {
        width: 40rem;
        margin: 0rem 0rem 5rem;
    }

    .details-header {
        padding: 0rem 10rem 2rem;
    }

    .details-address {
        padding: 0rem 0rem 2rem 10rem;
    }

    .details-contact {
        padding: 0rem 10rem;
    }

}

/****  /screen and (min-width: 1023px)  ****/


/****  screen and (min-width: 1200px)  ****/

@media screen and (min-width: 1200px) {

    /****************/
    /**** Header ****/
    /****************/

    .contact-header-title {
        padding: 0rem 15rem 2rem;
    }

    .contact-header-text {
        padding: 0rem 45rem 0rem 15rem;
    }

    /**************/
    /**** Form ****/
    /**************/

    .contact-form-header {
        padding: 0rem 20rem 2rem;
    }

    .contact-form-description {
        padding: 0rem 20rem 2rem;
    }

    .contact-form-container {
        padding: 0rem 20rem;
    }

    /*****************/
    /**** Details ****/
    /*****************/

    .contact-details {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, max-content);
        grid-template-areas:
            "dtl-map dtl-hdr"
            "dtl-map dtl-adr"
            "dtl-map dtl-cnt";
        place-content: center center;
        padding: 6rem 0rem;
    }

    .details-map {
        width: 42rem;
        place-self: center end;
        margin: 0rem 10rem;
    }

    .details-header {
        place-self: end start;
        padding: 0rem 15rem 0rem 10rem;
    }

    .details-address {
        place-self: center start;
        padding: 0rem 15rem 0rem 10rem;
    }

    .details-contact {
        place-self: start start;
        padding: 0rem 15rem 0rem 10rem;
    }

}

/****  /screen and (min-width: 1200px)  ****/


/****  screen and (min-width: 1400px)  ****/

@media screen and (min-width: 1400px) {

    /****************/
    /**** Header ****/
    /****************/

    .contact-header-title {
        padding: 0rem 20rem 2rem;
    }

    .contact-header-text {
        padding: 0rem 60rem 0rem 20rem;
    }

    /**************/
    /**** Form ****/
    /**************/

    .contact-form-header {
        padding: 0rem 30rem 2rem;
    }

    .contact-form-description {
        padding: 0rem 30rem 2rem;
    }

    .contact-form-container {
        padding: 0rem 30rem;
    }

    /*****************/
    /**** Details ****/
    /*****************/

    .details-map {
        width: 44rem;
        place-self: center end;
        margin: 0rem 10rem;
    }

    .details-header {
        place-self: end start;
        padding: 0rem 20rem 0rem 15rem;
    }

    .details-address {
        place-self: center start;
        padding: 0rem 20rem 0rem 15rem;
    }

    .details-contact {
        place-self: start start;
        padding: 0rem 20rem 0rem 15rem;
    }

}

/****  /screen and (min-width: 1400px)  ****/


/****  screen and (min-width: 1900px)  ****/

@media screen and (min-width: 1900px) {

    /****************/
    /**** Header ****/
    /****************/

    .contact-header-title {
        padding: 0rem 25rem 2rem;
    }

    .contact-header-text {
        padding: 0rem 90rem 0rem 25rem;
    }

    /**************/
    /**** Form ****/
    /**************/

    .contact-form-header {
        padding: 0rem 45rem 2rem;
    }

    .contact-form-description {
        padding: 0rem 45rem 2rem;
    }

    .contact-form-container {
        padding: 0rem 45rem;
    }

    /*****************/
    /**** Details ****/
    /*****************/

    .details-map {
        width: 46rem;
        place-self: center end;
        margin: 0rem 25rem;
    }

    .details-header {
        place-self: end start;
        padding: 0rem 25rem 0rem 20rem;
    }

    .details-address {
        place-self: center start;
        padding: 0rem 25rem 0rem 20rem;
    }

    .details-contact {
        place-self: start start;
        padding: 0rem 25rem 0rem 20rem;
    }

}

/****  /screen and (min-width: 1900px)  ****/
