<!--  FOOTER  -->

<footer class="container-footer">

    <!-- FOOTER MENU -->
    <div class="footer-menu">
        <ul class="footer-menu-list no-list-style">
        <li class="footer-menu-item">
            <a href="{% url 'home' %}" class="footer-menu-link no-decoration uppercase blue">Welcome</a>
        </li>
        <li class="footer-menu-item">
            <a href="{% url 'about' %}" class="footer-menu-link no-decoration uppercase blue">Journey</a>
        </li>
        <li class="footer-menu-item">
            <a href="{% url 'collection' %}" class="footer-menu-link no-decoration uppercase blue">Collections</a>
        </li>
        <li class="footer-menu-item">
            <a href="{% url 'community' %}" class="footer-menu-link no-decoration uppercase blue">Community</a>
        </li>
        <li class="footer-menu-item">
            <a href="{% url 'contact' %}" class="footer-menu-link no-decoration uppercase blue">Contact</a>
        </li>
        </ul>
    </div>
    <!-- /FOOTER MENU-->

    <div class="footer-middle">

        <!-- FOOTER COMMUNITY -->
        <div class="footer-community">
        <p class="footer-community-header uppercase blue">Join the Community</p>
        <p class="footer-community-text blue">
            Receive news, hear the latest rumblings and be privy to announcements for promotions, new products and sales, all delivered directly to your inbox.
        </p>
        <form class="footer-community-form" action="" method="get">
            <input class="community-form-email blue" id="community-email" type="email" placeholder="Enter email...">
            <button class="community-form-button uppercase blue" type="submit">Suscribe</button>
        </form>
        </div>
        <!-- /FOOTER COMMUNITY -->

        <!-- FOOTER SOCIAL -->
        <div class="footer-social">
        <ul class="footer-social-list no-list-style">
            <li class="footer-social-item">
            <a href="https://www.facebook.com/chewtheragclothing" class="footer-social-icon no-decoration blue social-icon-facebook">
                <i class="fab fa-facebook-f"></i>
            </a>
            </li>
            <li class="footer-social-item">
            <a href="https://twitter.com/ChewRag" class="footer-social-icon no-decoration blue social-icon-twitter">
                <i class="fab fa-twitter"></i>
            </a>
            </li>
            <li class="footer-social-item">
            <a href="javascript:void(0);" class="footer-social-icon no-decoration blue social-icon-instagram">
                <i class="fab fa-instagram"></i>
            </a>
            </li>
        </ul>
        </div>
        <!-- /FOOTER SOCIAL -->

    </div>

    <!-- FOOTER POLICIES -->
    <div class="footer-policies">
        <ul class="footer-policies-list no-list-style">
        <li class="footer-policies-item">
            <a href="javascript:void(0);" class="footer-policies-link no-decoration uppercase blue">Returns Policy</a>
        </li>
        <li class="footer-policies-item">
            <a href="javascript:void(0);" class="footer-policies-link no-decoration uppercase blue">Privacy Policy</a>
        </li>
        <li class="footer-policies-item">
            <a href="javascript:void(0);" class="footer-policies-link no-decoration uppercase blue">Terms of Service</a>
        </li>
        </ul>
    </div>
    <!-- /FOOTER POLICIES -->

    <!-- FOOTER PAY -->
    <div class="footer-pay">
        <img class="footer-pay-image" src="https://www.merchantequip.com/image/?logos=v|m|a|p|g|me|sk|bit|gw|apl|ssp|adp&height=32" alt="Merchant Equipment Store Credit Card Logos">
    </div>
    <!-- /FOOTER PAY -->

    <!-- FOOTER COPYRIGHT -->
    <div class="footer-copyright">
        <p class="footer-copyright-text blue">Copyright&copy; 2021 by Chew The Rag Designs. All rights reserved.</p>
    </div>
    <!-- /FOOTER COPYRIGHT -->

</footer>

<!--  /FOOTER  -->