{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/collection.css' %}" type="text/css">
{% endblock %}

{% block content %}

<!--  COLLECTIONS GRID CONTAINER  -->

<div class="container-collection">

    <!--  COLLECTION HEADER  -->

    <div class="collection-header">
        <div class="collection-header-title">
            <span class="white">The Collection</span>
        </div>
        <div class="collection-header-text">
            <p class="collection-text white">
                We know everyone has their own unique style. Chew The Rag Clothing Co. endeavours to provide 
                a collection that matches your individual style. So, scroll on down and peruse the store. I 
                bet ya' you will find something you like.
            </p>
        </div>
    </div>

    <!--  /COLLECTION HEADER  -->

    <!--  COLLECTION ITEMS  -->

    <div class="collection-item" id="collection-item">
        <div class="item-title">
            <p class="blue">Collection Items</p>
        </div>
        <div class="item-search">
            <form class="search-form" method="GET" action="{% url 'collection' %}">
                <input class="search-text" type="search" name="q" placeholder="Search the collection..." aria-label="Search">
                <button class="search-button btn-blue-white" type="submit"><i class="fas fa-search"></i></button>
            </form>
        </div>
        <div class="item-wrapper">

            {% for item in items %}

                <!-- ITEM CARD -->

                <div class="item-card blue-shadow">
                    {% if item.image %}
                        <a href="{% url 'item_detail' item.id %}">
                            <img class="card-image" src="{{ item.image.url }}" alt="{{ item.name }}">
                        </a>
                    {% else %}
                        <a href="{% url 'item_detail' item.id %}">
                            <img class="card-image" src="{{ MEDIA_URL }}noimage.png" alt="{{ item.name }}">
                        </a>
                    {% endif %}
                    <div class="card-body">
                        <p class="blue">{{ item.name }}</p>
                    </div>
                    <div class="card-footer">
                        <p class="footer-price blue">€{{ item.price }}</p>
                        {% if item.rating %}
                            <p class="footer-rating blue"><i class="fas fa-star"></i>{{ item.rating }} / 5</p>
                        {% else %}
                            <p class="footer-rating blue">No Rating</p>
                        {% endif %}
                    </div>
                </div>

                <!-- ITEM CARD -->

            {% endfor %}

        </div>

    </div>

    <!--  /COLLECTION ITEMS-->

</div>

<!--  /COLLECTIONS GRID CONTAINER  -->

{% endblock %}
