{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/collection.css' %}" type="text/css">
{% endblock %}

{% block content %}

<!--  COLLECTIONS GRID CONTAINER  -->

<div class="container-collection">

    <!--  COLLECTION HEADER  -->

    <div class="collection-header"></div>

    <!--  /COLLECTION HEADER  -->

    <!--  COLLECTION ITEMS  -->

    <div class="collection-item" id="collection-item">
        <div class="item-title">
            <p class="blue">The Collection</p>
        </div>
        <div class="item-search">
            <div class="item-count">
                <p class="blue">
                    {% if search_term or current_collections %}
                        <span class="no-decoration"><a class="no-decoration blue" href="{% url 'collection' %}">Collection Home</a> | </span>
                    {% endif %}
                    {{ items|length }} Items{% if search_term %} found for <strong>"{{ search_term }}"</strong>{% endif %}
                </p>
            </div>
            <form class="search-form" method="GET" action="{% url 'collection' %}">
                <input class="search-text" type="search" name="q" placeholder="Search the collection..." aria-label="Search">
                <button class="search-button btn-blue-white" type="submit"><i class="fas fa-search"></i></button>
            </form>
            <div class="item-sort blue">
                <select class="sort-dropdown blue" name="" id="sort-dropdown">
                    <option value="reset" selected>Sort by...</option>
                    <option value="collection_asc">Collection (A-Z)</option>
                    <option value="collection_desc">Collection (Z-A)</option>
                    <option value="name_asc">Name (A-Z)</option>
                    <option value="name_desc">Name (Z-A)</option>
                    <option value="price_asc">Price (low to high)</option>
                    <option value="price_desc">Price (high to low)</option>
                    <option value="rating_asc">Rating (low to high)</option>
                    <option value="rating_desc">Rating (high to low)</option>
                </select>
            </div>
        </div>
        <div class="item-wrapper">

            {% for item in items %}

                <!-- ITEM CARD -->

                <div class="item-card blue-shadow">
                    {% if item.image %}
                        <a href="{% url 'item_detail' item.id %}">
                            <img class="card-image" src="{{ item.image.url }}" alt="{{ item.name }}">
                        </a>
                    {% else %}
                        <a href="{% url 'item_detail' item.id %}">
                            <img class="card-image" src="{{ MEDIA_URL }}noimage.png" alt="{{ item.name }}">
                        </a>
                    {% endif %}
                    <div class="card-body">
                        <p class="blue">{{ item.name }}</p>
                    </div>
                    <div class="card-footer">
                        <p class="footer-price blue">€{{ item.price }}</p>
                        {% if item.collection %}
                            <p class="footer-collection blue">
                                <a class="no-decoration blue" href="{% url 'collection' %}?collection={{ item.collection.name }}">
                                    <i class="fas fa-tag"></i>{{ item.collection.friendly_name}}
                                </a>
                            </p>
                        {% endif %}
                        {% if item.rating %}
                            <p class="footer-rating blue"><i class="fas fa-star"></i>{{ item.rating }} / 5</p>
                        {% else %}
                            <p class="footer-rating blue">No Rating</p>
                        {% endif %}
                    </div>
                </div>

                <!-- ITEM CARD -->

            {% endfor %}

        </div>

    </div>

    <!--  /COLLECTION ITEMS-->

</div>

<!--  /COLLECTIONS GRID CONTAINER  -->

{% endblock %}
