{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/collection.css' %}" type="text/css">
{% endblock %}

{% block content %}

<!--  COLLECTIONS GRID CONTAINER  -->

<div class="container-collection">

    <!--  COLLECTION HEADER  -->
    
    <div class="collection-header">
        <div class="collection-header-title">
            <span class="white">The Collection</span>
        </div>
        <div class="collection-header-text">
            <p class="collection-text white">
                We know everyone has their own unique style. Chew The Rag Clothing Co. endeavours to provide 
                a collection that matches your individual style. So, scroll on down and peruse the store. I 
                bet ya' you will find something you like.
            </p>
        </div>
    </div>

    <!--  /COLLECTION HEADER  -->

</div>

<!--  /COLLECTIONS GRID CONTAINER  -->

{% endblock %}
