{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/collection.css' %}" type="text/css">
{% endblock %}

{% block content %}
<!--  GRID CONTAINER  -->

<div class="container-item-detail blue">

    <!--  ITEM HEADER  -->

    <div class="item-detail-header"></div>

    <!--  /ITEM HEADER  -->

    <!-- ITEM IMAGE -->
    
    <div class="item-detail-image">
        {% if item.image %}
            <a class="no-decoration" href="{{ item.image.url }}" target="_blank">
                <img class="blue-shadow" src="{{ item.image.url }}" alt="{{ item.name }}">
            </a>
        {% else %}
            <a class="no-decoration" href="">
                <img class="blue-shadow" src="{{ MEDIA_URL }}noimage.png" alt="{{ item.name }}">
            </a>
        {% endif %}
    </div>

    <!-- /ITEM IMAGE -->

    <!-- ITEM DETAILS -->

    <div class="item-details">
        <p class="detail-name">{{ item.name }}</p>
        <p class="detail-price">&euro;{{ item.price }}</p>
        {% if item.collection %}
            <p class="detail-collection blue">
                <a class="no-decoration blue" href="{% url 'collection' %}?collection={{ item.collection.name }}">
                    <i class="fas fa-tag"></i>{{ item.collection.friendly_name}}
                </a>
            </p>
        {% endif %}
        {% if item.rating %}
            <p class="detail-rating"><i class="fas fa-star"></i>{{ item.rating }} / 5</p>
        {% else %}
            <p class="detail-rating">No Rating</p>
        {% endif %}
        <p class="detail-description">{{ item.description }}</p>
        <form class="blue" action="{% url 'add_to_cart' item.id %}" method="POST">
            {% csrf_token %}
            <div class="detail-quantity">
                <p class="quantity-heading">Quantity:</p>
                <input class="quantity-input" type="number" name="quantity" value="1" min="1" max="99" data-item_id="{{ item.id }}" id="id_qty_{{ item.id }}">
            </div>
            <div class="detail-actions">
                <button class="actions-keep-shopping btn-blue-white uppercase" onclick="location.href='{% url 'collection' %}';">Keep Shopping</button>
                <button class="actions-add btn-blue-white uppercase" type="submit">Add to Cart</button>
                <input type="hidden" name="redirect_url" value="{{ request.path }}">
            </div>
        </form>
    </div>

    <!-- /ITEM DETAILS -->

</div>

<!--  /GRID CONTAINER  -->

{% endblock %}
