{% load static %}

<!doctype html>

<html lang="en">

  <head>

    {% block meta %}
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="../media/CTR Favicon.png" sizes="512x512">
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    {% block corecss %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/base.css' %}" type="text/css">
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    {% block corejs %}
    <script src="https://kit.fontawesome.com/57377ab169.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    {% endblock %}

    {% block extra_js %}
    {% endblock %}

    <title>Chew the Rag Clothing Co. {% block extra_title %}{% endblock %}</title>

  </head>

  <body>

    <!--  NAVBAR  -->

    <nav class="container-navbar white" id="navbar">
      <!-- NAVBAR BRAND -->
      <div class="navbar-brand" id="navbar-brand">
        <a href="javascript:void(0);" class="navbar-brand-icon no-decoration white">
          <img class="navbar-brand-logo" src="../media/CTR_LOGO.png" alt="CTR Logo" />
        </a>
        <div class="navbar-brand-title">
          Chew the Rag Clothing Co.
        </div>
      </div>
      <!-- /NAVBAR BRAND -->

      <!-- NAVBAR MENU -->
      <div class="navbar-menu" id="navbar-menu">
        <ul class="navbar-menu-list">
          <li class="navbar-menu-item">
            <a href="javascript:void(0);" class="navbar-menu-link no-decoration uppercase white">Welcome</a>
          </li>
          <li class="navbar-menu-item">
            <a href="javascript:void(0);" class="navbar-menu-link no-decoration uppercase white">Journey</a>
          </li>
          <li class="navbar-menu-item">
            <a href="javascript:void(0);" class="navbar-menu-link no-decoration uppercase white">Collections</a>
          </li>
          <li class="navbar-menu-item">
            <a href="javascript:void(0);" class="navbar-menu-link no-decoration uppercase white">Community</a>
          </li>
          <li class="navbar-menu-item no-right-margin">
            <a href="javascript:void(0);" class="navbar-menu-link no-decoration uppercase white">Contact</a>
          </li>
          <li class="navbar-menu-item hidden">
              <a class="navbar-toggler navbar-menu-link hidden no-decoration white" href="javascript:void(0);" onclick="mobileMenu()"><i class="fas fa-bars"></i></a>
          </li>
        </ul>
      </div>
      <!-- /NAVBAR MENU -->

      <!-- NAVBAR SEARCH -->
      <div class="navbar-search" id="navbar-search">
        <form class="navbar-search-form">
          <input class="navbar-search-text white" type="search" placeholder="What can we help you find?" aria-label="Search">
          <button class="navbar-search-button uppercase white" type="submit"><i class="fas fa-search"></i></button>
        </form>
      </div>
      <!-- /NAVBAR SEARCH -->

      <!-- NAVBAR ICONS -->
      <div class="navbar-icons" id="navbar-icons">
        <div class="navbar-icons-login">
          <a href="#" class="navbar-icons-icon no-decoration white">
            <i class="fas fa-user"></i>
          </a>
        </div>
        <div class="navbar-login-text navbar-icons-text">
          Login / Register
        </div>
        <div class="navbar-icons-cart">
          <a href="#" class="navbar-icons-icon no-decoration white">
            <i class="fas fa-shopping-cart"></i>
          </a>
        </div>
        <div class="navbar-cart-text navbar-icons-text">
          No Items
        </div>
      </div>
      <!-- /NAVBAR ICONS -->

    </nav>

    <!--  /NAVBAR  -->

    <!--  MOBILE NAVBAR  -->

    <!--  /MOBILE NAVBAR  -->

    {% if messages %}
    <div class="message-container"></div>
    {% endif %}

    {% block page_header %}
    {% endblock %}

    {% block content %}
    {% endblock %}

    <!--  FOOTER  -->

    <footer class="container-footer">

      <!-- FOOTER MENU -->
      <div class="footer-menu">
        <ul class="footer-menu-list">
          <li class="footer-menu-item">
            <a href="javascript:void(0);" class="footer-menu-link no-decoration uppercase white">Welcome</a>
          </li>
          <li class="footer-menu-item">
            <a href="javascript:void(0);" class="footer-menu-link no-decoration uppercase white">Journey</a>
          </li>
          <li class="footer-menu-item">
            <a href="javascript:void(0);" class="footer-menu-link no-decoration uppercase white">Collections</a>
          </li>
          <li class="footer-menu-item">
            <a href="javascript:void(0);" class="footer-menu-link no-decoration uppercase white">Community</a>
          </li>
          <li class="footer-menu-item">
            <a href="javascript:void(0);" class="footer-menu-link no-decoration uppercase white">Contact</a>
          </li>
        </ul>
      </div>
      <!-- /FOOTER MENU-->

      <!-- FOOTER POLICIES -->
      <div class="footer-policies">
        <ul class="footer-policies-list">
          <li class="footer-policies-item">
            <a href="javascript:void(0);" class="footer-policies-link no-decoration uppercase white">Returns Policy</a>
          </li>
          <li class="footer-policies-item">
            <a href="javascript:void(0);" class="footer-policies-link no-decoration uppercase white">Privacy Policy</a>
          </li>
          <li class="footer-policies-item">
            <a href="javascript:void(0);" class="footer-policies-link no-decoration uppercase white">Terms of Service</a>
          </li>
        </ul>
      </div>
      <!-- /FOOTER POLICIES -->

      <!-- FOOTER COMMUNITY -->
      <div class="footer-community">
        <p class="footer-community-header uppercase white">Join the Community</p>
        <p class="footer-community-text white">
          Receive news, hear the latest rumblings and be privy to announcements for promotions, new products and sales, all delivered directly to your inbox.
        </p>
        <form class="footer-community-form" action="" method="get">
          <input class="community-form-email white" id="community-email" type="email" placeholder="Enter email...">
          <input class="community-form-button uppercase white" id="community-email-submit" type="Button" value="Suscribe">
        </form>
      </div>
      <!-- /FOOTER COMMUNITY -->

      <!-- FOOTER SOCIAL -->
      <div class="footer-social">
        <ul class="footer-social-list">
          <li class="footer-social-item">
            <a href="javascript:void(0);" class="footer-social-icon">
              <i class="fab fa-facebook-f"></i>
            </a>
          </li>
          <li class="footer-social-item">
            <a href="javascript:void(0);" class="footer-social-icon">
              <i class="fab fa-twitter"></i>
            </a>
          </li>
          <li class="footer-social-item">
            <a href="javascript:void(0);" class="footer-social-icon">
              <i class="fab fa-instagram"></i>
            </a>
          </li>
        </ul>
      </div>
      <!-- /FOOTER SOCIAL -->

      <!-- FOOTER CREDIT CARDS -->
      <div class="footer-pay">
        <ul class="footer-pay-list">
          <li class="footer-pay-item">
            <img src="" alt="" class="footer-pay-image">
          </li>
          <li class="footer-pay-item">
            <img src="" alt="" class="footer-pay-image">
          </li>
          <li class="footer-pay-item">
            <img src="" alt="" class="footer-pay-image">
          </li>
          <li class="footer-pay-item">
            <img src="" alt="" class="footer-pay-image">
          </li>
          <li class="footer-pay-item">
            <img src="" alt="" class="footer-pay-image">
          </li>
          <li class="footer-pay-item">
            <img src="" alt="" class="footer-pay-image">
          </li>
          <li class="footer-pay-item">
            <img src="" alt="" class="footer-pay-image">
          </li>
          <li class="footer-pay-item">
            <img src="" alt="" class="footer-pay-image">
          </li>
        </ul>
      </div>
      <!-- /FOOTER CREDIT CARDS -->

      <!-- FOOTER COPYRIGHT -->
      <div class="footer-copyright">
        <p class="footer-copyright-text">Copyright&copy; 2021 by Chew The Rag Designs. All rights reserved.</p>
      </div>
      <!-- /FOOTER COPYRIGHT -->

    </footer>

    <!--  /FOOTER  -->

    {% block postloadjs %}
    <script src="{% static 'js/base.js' %}" crossorigin="anonymous"></script>
    {% endblock %}

  </body>

</html>
