{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/about.css' %}" type="text/css">
{% endblock %}

{% block content %}
<!--  ABOUT GRID CONTAINER  -->

<div class="container-about">

    <!--  ABOUT HEADER  -->

    <div class="about-header">
        <div class="about-header-title">
            <span class="header-about-text white">The Journey</span>
        </div>
        <div class="about-header-dictionary">
            <p class="header-dictionary-title white">chew the rag</p>
            <p class="header-dictionary-category white">verb, phrase</p>
            <p class="header-dictionary-description white">
                1.  To discuss, chat, converse, etc., especially at length and in a leisurely, friendly manner.
            </p>
            <blockquote class="header-dictionary-quote">
                <p class="dictionary-quote-text white">
                    <span>&ldquo;</span>My sister and I haven't seen each other in nearly five years, so we stayed up half the night drinking wine and chewing the rag.<span>&rdquo;</span>
                </p>
            </blockquote>
        </div>
    </div>

    <!--  /ABOUT HEADER  -->

    <!--  ABOUT STORY  -->

    <div class="about-story">
        <img class="story-image" src="{% static 'media/writing-tools.jpg' %}" alt="">
        <blockquote class="story-quote">
            <p>
                <sup>
                    <i class="fas fa-quote-left"></i>
                </sup>
                &nbsp;Do the great things while they are easy and do the great things while they are small. A journey of a thousand miles must begin with a single step.&nbsp;
                <sub>
                    <i class="fas fa-quote-right"></i>
                </sub>
            </p>
            <footer>
                &mdash;&nbsp;Lao Tzu
            </footer>
        </blockquote>
        <div class="story-text">
            <p>
                To say that the road to Chew The Rag Clothing Co. is a journey is an understatement. What started as an 
                idea has grown into a passion. A passion to organically grow a business that provides quality clothes at a 
                reasonable price, making them accessible to people from all walks of life. This has started a journey to build 
                Chew The Rag Clothing Co. step-by-step. We are taking our time to ensure that it is done the right way. 
                One product at a time we endeavour to find the best quality materials for our products leading on the way 
                to fulfil our promise to you, our customers.
            </p>
            <p>
                Why clothing? Clothing is an expression of one's sense of style. Clothing is a necessity. If you are like most 
                of us, then you develop a relation to some of your clothes. The favourite shirt. The one item of clothing you 
                just can’t bear to dispose of no matter what shape it is in and no matter how much your friends and loved 
                ones beg you to get rid of it. No matter what others say about it. That one shirt that has grown to be the 
                most comfortable item in your closet that you wear every chance you get regardless of how much attention 
                it garners. That shirt that you protect like a best friend. Chew The Rag Clothing Co. endeavours to produce 
                that item of clothing that stands the test of time, that you wear with pride and becomes the best friend 
                throughout the years to come.
            </p>
            <p>
                At Chew The Rag Clothing Co. we love clothing. We don’t want to provide clothing that you put in the 
                closet and wear the odd Friday or Saturday. We want you to wear our clothes often, with pride. With that 
                goal in mind, we continue to provide a level of quality with our clothing that provides you with an equal 
                level of comfort and style.
            </p>
        </div>
    </div>

    <!--  /ABOUT STORY  -->

</div>

<!--  /ABOUT GRID CONTAINER  -->
{% endblock %}
