{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/contact.css' %}" type="text/css">
{% endblock %}

{% block content %}

<!--  CONTACT GRID CONTAINER  -->

<div class="container-contact">

    <!-- CONTACT HEADER -->
    
    <div class="contact-header">
        <div class="contact-header-title">
            <span class="white">We love to hear from you!</span>
        </div>
        <div class="contact-header-text">
            <p class="contact-text white">
                Whether it is to solve an issue, answer a query about one of our products or just to say hello, we would love to hear from you. Use the form below to give us a shout and we will get right back to you.
            </p>
        </div>
    </div>

    <!-- /CONTACT HEADER -->

    <!-- CONTACT FORM -->

    <div class="contact-form blue">
        <div class="contact-form-header">
            <span>Contact Us</span>
        </div>
        <p class="contact-form-description">
            Need to have a chat? Just fill out the form below and click send. We will endeavour to get back to you as soon as possible.
        </p>
        <form class="contact-form-container" action="" method="get">
            <input class="contact-form-first blue" id="contact-form-first" type="text" placeholder="First Name">
            <input class="contact-form-last blue" id="contact-form-last" type="text" placeholder="Last Name">
            <input class="contact-form-phone blue" id="contact-form-phone" type="text" placeholder="Phone">
            <input class="contact-form-email blue" id="contact-form-email" type="email" placeholder="Email">
            <textarea class="contact-form-message blue" id="contact-form-message" type="text" placeholder="Type your message here..."></textarea>
            <button class="contact-form-submit btn-blue-white uppercase" id="contact-form-submit" type="submit">Send</button>
        </form>
    </div>

    <!-- /CONTACT FORM -->

    <!-- CONTACT DETAILS -->

    <div class="contact-details blue">
        <div class="details-header">
            <span>Company Details</span>
        </div>
        <div class="details-company">
            <div class="details-address">
                <p class="details-street">Main Street</p>
                <p class="details-city">Scotstown</p>
                <p class="details-county">Co. Monaghan</p>
                <p class="details-post">H18 TP21</p>
                <p class="details-country">Ireland</p>
            </div>
            <div class="details-contact">
                <p class="details-phone">
                    <span class="contact-span uppercase">Phone:</span>00 353 47 55555
                </p>
                <p class="details-support-email">
                    <span class="contact-span uppercase">Support:</span>support@chewtheragclothing.com
                </p>
                <p class="details-info-email">
                    <span class="contact-span uppercase">Info:</span>info@chewtheragclothing.com
                </p>
            </div>
        </div>
        <div class="details-map">
            <img class="map-image" src="{% static 'media/ctr_map_sat_view.png' %}" alt="Google Map of the company location">
        </div>
    </div>

    <!-- /CONTACT DETAILS -->

</div>

<!--  /CONTACT GRID CONTAINER  -->

{% endblock %}
